@import "styles/mixins";
@import "styles/variables";

.Dropdown {
    display: inline-block;
    width: 180px;
    vertical-align: top;

    border-color: $toolbar-dark-theme-border-color;

    &:last-child {
        border-right: none;
    }

    &,
    &:global(.open) {
        :global(.dropdown-toggle) {
            &,
            &:hover,
            &:focus {
                color: $toolbar-dark-theme-text-color;
                background: none;
                box-shadow: none;
            }
        }
    }

    &:global(.open) {
        &:after {
            content: "";
            position: absolute;
            width: $border-radius-base * 2 + 2px;
            height: $border-radius-base * 2 + 2px;
            right: 0;
            bottom: 0;
            display: block;
            background-color: $toolbar-dark-theme-bg;
        }
    }

    :global(.dropdown-toggle) {
        width: 100%;
        height: 40px;
        padding: 0 $spacing-2;
        font-size: 13px;
        background: none;
        border: 0;
        border-radius: 0;
        font-weight: normal;
        text-align: left;
        color: $toolbar-dark-theme-text-color;

        &:hover {
            color: $toolbar-dark-theme-text-hover-color;
        }

        :global(.caret) {
            position: absolute;
            top: 50%;
            right: $spacing-2;
            margin-top: -2px;
            // beat `.btn-default .caret` !important rule specificity
            color: $toolbar-dark-theme-icon-color !important;
        }
    }

    :global(.dropdown-menu) {
        width: 181px; // we need +1 px to align with the toggle button
        margin: 0 0 0 -1px;
        overflow: auto;
        padding: $spacing-1 0;
        border: none;
        background-color: $toolbar-dark-theme-bg;
        border-radius: 0 0 $border-radius-base * 2 $border-radius-base * 2;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11), inset 0 1px 0 $toolbar-dark-theme-border-color;

        a {
            text-decoration: none;
        }
    }

    .MenuItem {
        margin-bottom: 0;
        min-height: 34px;
        // Workaround to center the text inside a fixed-height container.
        // Using `flex` doesn't work because it breaks the hover highlight,
        // which is set on the child `a`.
        display: table;
        width: 100%;

        > a {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            padding: 0 $spacing-2;
            color: $toolbar-dark-theme-icon-color;
            border-top: 1px solid transparent;

            &,
            &:hover {
                background-color: transparent;
            }

            &:hover {
                color: $toolbar-dark-theme-text-hover-color;
            }

            &:focus::before {
                top: $spacing-half;
                bottom: $spacing-half;
                left: $spacing-base;
                right: $spacing-base;
                display: block;
                outline: $spacing-half solid $toolbar-dark-theme-focus-outline;
            }
        }

        &.selected > a {
            color: $toolbar-dark-theme-icon-active-color;

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                border-radius: $border-radius-base;
                position: absolute;
                top: $spacing-half * 0.5;
                bottom: $spacing-half * 0.5;
                left: $spacing-base;
                right: $spacing-base;
                background-color: $toolbar-dark-theme-hover-bg;
            }
        }
    }
}
