@import "styles/mixins";
@import "styles/variables";

.editor-menu-dropdown {
    @import "./mixins";

    display: inline-block;
    width: 180px;
    vertical-align: top;

    @include classic-toolbar {
        border-right: 1px solid $toolbar-classic-theme-border-color;
    }

    @include dark-toolbar {
        border-color: $toolbar-dark-theme-border-color;
    }

    &:last-child {
        border-right: none;
    }

    &,
    &.open {
        .dropdown-toggle {
            &,
            &:hover,
            &:focus {
                @include classic-toolbar {
                    color: #1f1f1f;
                }
                background: none;
                box-shadow: none;
            }
        }
    }

    &.open {
        &:after {
            content: "";
            position: absolute;
            width: $border-radius-base * 2 + 2px;
            height: $border-radius-base * 2 + 2px;
            right: 0;
            bottom: 0;

            @include classic-toolbar {
                display: none;
            }

            @include dark-toolbar {
                display: block;
                background-color: $toolbar-dark-theme-bg;
            }
        }
    }

    .dropdown-toggle {
        width: 100%;
        height: 40px;
        padding: 0 $spacing-2;
        font-size: 13px;

        @include classic-toolbar {
            font-size: 14px;
            color: #767676;
            &:hover {
                color: $toolbar-classic-theme-text-hover-color;
            }
        }

        @include dark-toolbar {
            color: $toolbar-dark-theme-text-color;
            &:hover {
                color: $toolbar-dark-theme-text-hover-color;
            }
        }

        &:hover {
            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: block;
                border-radius: $border-radius-base;
                position: absolute;
                left: $spacing-base;
                top: $spacing-base;
                bottom: $spacing-base;
                right: $spacing-base;

                @include classic-toolbar {
                    display: none;
                }
                @include dark-toolbar {
                    background-color: $toolbar-dark-theme-hover-bg;
                }
            }
        }

        background: none;
        border: 0;
        border-radius: 0;
        font-weight: normal;
        text-align: left;

        .caret {
            position: absolute;
            top: 50%;
            right: $spacing-2;
            margin-top: -2px;

            @include classic-toolbar {
                color: $toolbar-classic-theme-icon-color;
            }
            @include dark-toolbar {
                color: $toolbar-dark-theme-icon-color;
            }
        }
    }

    .dropdown-menu {
        width: 181px; // we need +1 px to align with the toggle button
        margin: 0 0 0 -1px;
        padding: 0;
        overflow: auto;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);

        @include classic-toolbar {
            border-color: $toolbar-classic-theme-border-color;
            border-radius: 0 0 4px 4px;
            border-top: none;
        }

        @include dark-toolbar {
            padding: $spacing-1 0;
            border: none;
            background-color: $toolbar-dark-theme-bg;
            border-radius: 0 0 $border-radius-base * 2 $border-radius-base * 2;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11),
                inset 0 1px 0 $toolbar-dark-theme-border-color;
        }

        a {
            text-decoration: none;
        }
    }

    .editor-menu-dropdown__menu-item {
        margin-bottom: 0;
        min-height: 34px;
        // Workaround to center the text inside a fixed-height container.
        // Using `flex` doesn't work because it breaks the hover highlight,
        // which is set on the child `a`.
        display: table;
        width: 100%;

        @include classic-toolbar {
            border-top: 1px solid $toolbar-classic-theme-border-color;
        }

        > a {
            display: table-cell;
            vertical-align: middle;
            position: relative;

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: none;
                border-radius: $border-radius-base;
                position: absolute;
                top: $spacing-half * 0.5;
                bottom: $spacing-half * 0.5;
                left: $spacing-base;
                right: $spacing-base;
            }

            &:hover::before {
                @include classic-toolbar {
                    display: none;
                }
                @include dark-toolbar {
                    display: block;
                    background-color: $toolbar-dark-theme-hover-bg;
                }
            }

            &:focus::before {
                top: $spacing-half;
                bottom: $spacing-half;
                left: $spacing-base;
                right: $spacing-base;

                @include dark-toolbar {
                    display: block;
                    outline: $spacing-half solid $toolbar-dark-theme-focus-outline;
                }
            }

            @include classic-toolbar {
                padding: $spacing-half $spacing-2;
            }

            @include dark-toolbar {
                padding: 0 $spacing-2;
                color: $toolbar-dark-theme-icon-color;
                border-top: 1px solid transparent;

                &,
                &:hover {
                    background-color: transparent;
                }
            }
        }

        &--selected > a {
            @include dark-toolbar {
                color: $toolbar-dark-theme-icon-active-color;
            }
        }
    }

    .editor-menu-dropdown__menu-option {
        margin: 0;
        font-size: 13px;

        &--paragraph {
            // Override margin set on `.editor-story p`.
            margin-bottom: 0 !important;
        }

        &--heading-1 {
            font-size: 17px;
            font-weight: 700;
        }

        &--heading-2 {
            font-size: 15px;
            font-weight: 700;
        }

        &--unordered-list,
        &--ordered-list {
            padding-left: $spacing-2;
        }

        &--unordered-list {
            // Fix broken list style. Breaks because this list
            // is nested in another list (menu items).
            list-style-type: disc;
        }

        &--blockquote {
            padding: 0 $spacing-1;
        }

        @include dark-toolbar {
            color: $toolbar-dark-theme-icon-color;
        }
    }

    .editor-menu-dropdown__menu-item--selected .editor-menu-dropdown__menu-option {
        @include dark-toolbar {
            color: $toolbar-dark-theme-icon-active-color;
        }
    }
}
