@import "styles/helpers";
@import "styles/variables";

.Dropdown {
    display: inline-block;
    border-color: $toolbar-dark-theme-border-color;
    position: relative;
    font-weight: normal;

    &.enabled {
        width: 180px;
    }

    &.light {
        .DropdownToggle {
            border-radius: $border-radius-base;

            &[data-headlessui-state="open"] {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.enabled,
            &.enabled:hover {
                color: $black;
                background-color: $white;
            }

            &.enabled .Caret {
                color: $black;
            }
        }

        .DropdownMenu {
            width: 100%;
            margin: 0;
            background-color: $white;
            border-top: 1px solid $grey-200;
            box-shadow: none;
        }

        .MenuItem {
            color: $black;

            &.selected,
            &.active {
                color: $black;

                &::before {
                    background-color: $grey-200;
                }
            }

            &.active:not(.selected) {
                color: $black;
            }
        }
    }

    &:last-child {
        border-right: none;
    }

    .DropdownToggle {
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        padding: 0 $spacing-2;
        font-size: 13px;
        background: none;
        text-align: left;
        color: $toolbar-dark-theme-text-color;
        position: relative;

        &.enabled:hover {
            cursor: pointer;
            color: $toolbar-dark-theme-text-hover-color;

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: block;
                position: absolute;
                left: $spacing-base;
                top: $spacing-base;
                bottom: $spacing-base;
                right: $spacing-base;
                border-radius: $toolbar-dark-theme-border-radius * 0.5;
                background-color: $toolbar-dark-theme-hover-bg;
                z-index: -1;
            }
        }

        &.enabled .Caret {
            position: absolute;
            top: 50%;
            right: $spacing-2;
            color: $toolbar-dark-theme-icon-color;
            margin-top: -2px;
            margin-left: 2px;
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    .DropdownMenu {
        border: none;
        outline: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 160px;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        display: flex;
        flex-direction: column;
        width: 181px; // we need +1 px to align with the toggle button
        margin: 0 0 0 -1px;
        overflow: auto;
        padding: $spacing-1 0;
        background-color: $toolbar-dark-theme-bg;
        border-radius: 0 0 $toolbar-dark-theme-border-radius $toolbar-dark-theme-border-radius;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11), inset 0 1px 0 $toolbar-dark-theme-border-color;
        z-index: 2;
    }

    .MenuItem {
        min-height: 34px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 $spacing-2;
        color: $toolbar-dark-theme-icon-color;
        border-top: 1px solid transparent;
        cursor: pointer;
        z-index: 0;

        > span {
            font-size: 14px;
        }

        &:focus::before {
            top: $spacing-half;
            bottom: $spacing-half;
            left: $spacing-base;
            right: $spacing-base;
            display: block;
            outline: $spacing-half solid $toolbar-dark-theme-focus-outline;
        }

        &.selected,
        &.active {
            color: $toolbar-dark-theme-icon-active-color;

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                border-radius: $toolbar-dark-theme-border-radius * 0.5;
                position: absolute;
                top: $spacing-half * 0.5;
                bottom: $spacing-half * 0.5;
                left: $spacing-base;
                right: $spacing-base;
                background-color: $toolbar-dark-theme-hover-bg;
                z-index: -1;
            }
        }

        // Keyboard navigation and hover styles
        &.active:not(.selected) {
            color: $toolbar-dark-theme-text-hover-color;

            &::before {
                opacity: 0.5;
            }
        }
    }
}
