@use "sass:math";
@import "styles/mixins";
@import "styles/variables";

.editor-menu {
    $font-size: 14px;

    display: flex;
    border-radius: $border-radius-base * 2;
    color: $toolbar-dark-theme-text-color;
    backdrop-filter: blur(6px);
    background-color: $toolbar-dark-theme-bg;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
    font-size: 0;

    input {
        font-size: $font-size;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size;
        cursor: pointer;
        padding: 0 $spacing-2;
        border-right: 1px solid $toolbar-dark-theme-border-color;

        &,
        &:hover {
            color: $toolbar-dark-theme-text-color;
            text-decoration: none;
        }

        &:hover:before {
            content: "";
            display: block;
            position: absolute;
            left: $spacing-1;
            right: $spacing-1;
            top: $spacing-1;
            bottom: $spacing-1;
            background-color: $toolbar-dark-theme-hover-bg;
            border-radius: $border-radius-base;
        }

        &--disabled {
            color: $legacy-color-grey-250;
            pointer-events: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    &__button-group {
        border-right: 1px solid;
        border-color: $toolbar-dark-theme-border-color;

        // Use inline-flex to prevent the button-group from collapsing
        // when there is not enough horizontal space.
        display: inline-flex;
        font-size: 13px;
        line-height: 1;

        padding: 0 $spacing-base;

        &:last-child {
            border-right: none;
        }

        &--flex {
            display: flex;
            align-items: center;
            padding: 0 $spacing-1;

            .btn {
                margin-left: $spacing-half;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__button {
        @include btn-unstyled;

        height: $spacing-base * 5;
        min-width: $spacing-base * 3;
        padding: $spacing-base;
        border: 0;
        position: relative;
        overflow: hidden;
        margin-right: 1px;
        fill: rgba(#fff, 0.2);
        color: $toolbar-dark-theme-icon-color;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: block;
                border-radius: $border-radius-base;
                position: absolute;
                left: 0;
                top: $spacing-base;
                bottom: $spacing-base;
                right: 0;
                background-color: $toolbar-dark-theme-hover-bg;
            }

            &.disabled::before,
            &[disabled]::before {
                background-color: transparent;
            }
        }

        &--active {
            fill: $toolbar-dark-theme-icon-color;
            color: $toolbar-dark-theme-icon-active-color;
        }

        &.disabled,
        &[disabled] {
            pointer-events: none;

            &,
            &:hover,
            &:focus,
            &:active {
                color: transparentize($toolbar-dark-theme-icon-color, 0.3);
            }
        }

        &--primary {
            color: $toolbar-dark-theme-text-color;

            .editor-menu__icon {
                color: $toolbar-dark-theme-icon-color;
            }
        }

        &--success {
            color: $toolbar-dark-theme-text-color;

            .editor-menu__icon {
                color: $toolbar-dark-theme-icon-color;
            }
        }

        &--danger {
            &,
            &:hover {
                color: $toolbar-dark-theme-text-color;

                .editor-menu__icon {
                    color: $toolbar-dark-theme-icon-color;
                }
            }
        }

        .svg-icon {
            display: block;
        }

        .icon {
            font-size: $spacing-2;
        }
    }

    &__icon {
        width: $spacing-2;
        height: $spacing-2;
        overflow: visible; // fix for Firefox SVG resizing cutting off bottom 1px

        &:first-child:last-child {
            margin-left: -$spacing-half;
            margin-right: -$spacing-half;
        }
    }
}
