@use "sass:math";
@import "styles/mixins";
@import "styles/variables";

.editor-floating-menu {
    $font-size: 14px;

    display: flex;
    border-radius: $border-radius-base * 2;

    @include classic {
        border-radius: 4px;
        color: $black;
        background-color: $toolbar-classic-theme-bg;
        border: 1px solid $toolbar-classic-theme-border-color;
    }
    @include light {
        color: $black;
        background-color: $toolbar-light-theme-bg;
        border: 1px solid $toolbar-light-theme-border-color;
    }
    @include dark {
        color: $toolbar-dark-theme-text-color;
        background-color: $toolbar-dark-theme-bg;
    }

    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
    font-size: 0;

    input {
        font-size: $font-size;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $spacing-1;
        font-size: $font-size;
        color: #767676;
        cursor: pointer;
        border-right: 1px solid $legacy-color-grey-250;

        &:hover {
            background-color: #f5f5f5;
            color: #767676;
            text-decoration: underline;
        }

        &:last-child {
            border-right: none;
        }

        &--disabled {
            color: $legacy-color-grey-250;
            pointer-events: none;
        }
    }

    &__button-group {
        border-right: 1px solid;

        @include classic {
            border-color: $toolbar-classic-theme-border-color
        }
        @include light {
            border-color: $toolbar-light-theme-border-color
        }
        @include dark {
            border-color: $toolbar-dark-theme-border-color;
        }

        // Use inline-flex to prevent the button-group from collapsing
        // when there is not enough horizontal space.
        display: inline-flex;
        padding: 0 $spacing-base;

        &:last-child {
            border-right: none;
        }

        &--flex {
            display: flex;
            align-items: center;
            padding: 0 $spacing-1;

            .btn {
                margin-left: $spacing-half;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__button {
        @include btn-unstyled;

        max-height: $spacing-base * 5;
        min-width: $spacing-base * 3;
        padding: $spacing-base $spacing-half;
        border: 0;
        position: relative;
        overflow: hidden;

        margin-right: 1px;

        &:last-child {
            margin-right: 0;
        }

        @include classic {
            color: $toolbar-classic-theme-icon-color;
        }
        @include light {
            color: $toolbar-light-theme-icon-color;
        }
        @include dark {
            color: $toolbar-dark-theme-icon-color;
        }

        &:hover {
            @include classic {
                color: $toolbar-classic-theme-icon-hover-color;
            }

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: block;
                border-radius: $border-radius-base;
                position: absolute;
                left: 0;
                top: $spacing-base;
                bottom: $spacing-base;
                right: 0;

                @include classic {
                    display: none;
                }
                @include light {
                    background-color: $toolbar-light-theme-hover-bg;
                }
                @include dark {
                    background-color: $toolbar-dark-theme-hover-bg;
                }
            }
        }

        &--active {
            @include classic {
                color: $toolbar-light-theme-icon-active-color;
            }
            @include light {
                color: $toolbar-light-theme-icon-active-color;
            }
            @include dark {
                color: $toolbar-dark-theme-icon-active-color;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: $spacing-half;
                right: $spacing-half;
                width: $spacing-3;
                height: $spacing-half;
                border-radius: $border-radius-base * 0.5;

                @include classic {
                    background-color: $toolbar-classic-theme-icon-active-color;
                }
                @include light {
                    display: none;
                }
                @include dark {
                    display: none;
                }
            }
        }

        &--danger {
            &,
            &:hover {
                @include classic {
                    color: $toolbar-light-theme-danger-color;
                }

                @include light {
                    color: $toolbar-light-theme-danger-color;
                }

                @include dark {
                    color: $toolbar-dark-theme-danger-color;
                }
            }
        }

        .svg-icon {
            display: block;
        }

        .icon {
            font-size: $spacing-2;
        }
    }

    &__icon {
        width: 14px;
        height: 14px;
    }
}
