@use "sass:math";
@import "styles/mixins";
@import "styles/variables";

.editor-menu {
    $font-size: 14px;

    display: flex;
    border-radius: $border-radius-base * 2;

    @include classic {
        border-radius: 4px;
        color: $black;
        background-color: $toolbar-classic-theme-bg;
    }
    @include dark {
        color: $toolbar-dark-theme-text-color;
        background-color: $toolbar-dark-theme-bg;
    }

    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
    font-size: 0;

    input {
        font-size: $font-size;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $spacing-1;
        font-size: $font-size;
        color: #767676;
        cursor: pointer;
        border-right: 1px solid $legacy-color-grey-250;

        &:hover {
            background-color: #f5f5f5;
            color: #767676;
            text-decoration: underline;
        }

        &:last-child {
            border-right: none;
        }

        &--disabled {
            color: $legacy-color-grey-250;
            pointer-events: none;
        }
    }

    &__button-group {
        border-right: 1px solid;

        @include classic {
            border-color: $toolbar-classic-theme-border-color;
        }
        @include dark {
            border-color: $toolbar-dark-theme-border-color;
        }

        // Use inline-flex to prevent the button-group from collapsing
        // when there is not enough horizontal space.
        display: inline-flex;
        font-size: 13px;
        line-height: 1;

        padding: 0 $spacing-base;

        @include classic {
            padding: 0 $spacing-half;
        }

        &:last-child {
            border-right: none;
        }

        &--flex {
            display: flex;
            align-items: center;
            padding: 0 $spacing-1;

            @include classic {
                padding: 0 $spacing-half;
            }

            .btn {
                margin-left: $spacing-half;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &--classic {
            @include dark {
                display: none;
            }
        }

        &--dark {
            @include classic {
                display: none;
            }
        }
    }

    &__button {
        @include btn-unstyled;

        height: $spacing-base * 5;
        min-width: $spacing-base * 3;
        padding: $spacing-base;
        border: 0;
        position: relative;
        overflow: hidden;

        margin-right: 1px;

        &:last-of-type {
            margin-right: 0;
        }

        @include classic {
            color: $toolbar-classic-theme-icon-color;
        }

        @include dark {
            fill: rgba(#fff, 0.2);
            color: $toolbar-dark-theme-icon-color;
        }

        &:hover {
            @include classic {
                fill: $toolbar-classic-theme-icon-hover-color;
                color: $toolbar-classic-theme-icon-hover-color;
            }

            &::before {
                // Trick to display smaller hover background square,
                // while keeping the button area as big as possible (for a11y)
                content: "";
                display: block;
                border-radius: $border-radius-base;
                position: absolute;
                left: 0;
                top: $spacing-base;
                bottom: $spacing-base;
                right: 0;

                @include classic {
                    display: none;
                }
                @include dark {
                    background-color: $toolbar-dark-theme-hover-bg;
                }
            }

            &.disabled::before,
            &[disabled]::before {
                background-color: transparent;
            }
        }

        &--active {
            @include classic {
                fill: $toolbar-classic-theme-icon-active-color;
                color: $toolbar-classic-theme-icon-active-color;
            }
            @include dark {
                fill: $toolbar-dark-theme-icon-color;
                color: $toolbar-dark-theme-icon-active-color;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: $spacing-half;
                right: $spacing-half;
                width: auto;
                height: $spacing-half;
                border-radius: $border-radius-base * 0.5;

                @include classic {
                    background-color: $toolbar-classic-theme-icon-active-color;
                }
                @include dark {
                    display: none;
                }
            }
        }

        &.disabled,
        &[disabled] {
            pointer-events: none;

            &,
            &:hover,
            &:focus,
            &:active {
                @include classic {
                    color: $toolbar-classic-theme-icon-color;
                }
                @include dark {
                    color: transparentize($toolbar-dark-theme-icon-color, 0.3);
                }
            }
        }

        &--primary {
            @include classic {
                background-color: #f3f4f6;
                border: 1px solid #d1d5db;
                color: #4f6d7a;
                border-radius: 4px;
                padding: 6px 16px;
                margin-right: 4px;
                height: 24px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;

                &:hover,
                &:active,
                &:focus {
                    background-color: #d6d9e0;
                    border-color: #afb6c0;
                    color: #4f6d7a;
                }
            }

            @include dark {
                color: $toolbar-dark-theme-text-color;

                .editor-menu__icon {
                    color: $toolbar-dark-theme-icon-color;
                }
            }

            &.disabled,
            &[disabled] {
                @include classic {
                    background-color: #d6d9e0;
                    color: #4f6d7a;
                    opacity: 0.4;
                }
            }
        }

        &--success {
            @include classic {
                background-color: $color-brand-primary;
                color: $white;
                border-radius: 4px;
                padding: 6px 16px;
                margin-right: 4px;
                height: 24px;
                font-size: 12px;
                line-height: 12px;
                font-weight: 600;

                &:hover,
                &:active,
                &:focus {
                    background-color: #01532c;
                    color: $white;
                }
            }

            @include dark {
                color: $toolbar-dark-theme-text-color;

                .editor-menu__icon {
                    color: $toolbar-dark-theme-icon-color;
                }
            }

            &.disabled,
            &[disabled] {
                @include classic {
                    color: $white;
                    opacity: 0.4;
                }
            }
        }

        &--danger {
            @include classic {
                &,
                &:hover {
                    color: $toolbar-classic-theme-danger-color;
                }
            }

            @include dark {
                &,
                &:hover {
                    color: $toolbar-dark-theme-text-color;

                    .editor-menu__icon {
                        color: $toolbar-dark-theme-icon-color;
                    }
                }
            }
        }

        .svg-icon {
            display: block;
        }

        .icon {
            font-size: $spacing-2;
        }
    }

    &__icon {
        width: $spacing-2;
        height: $spacing-2;
        overflow: visible; // fix for Firefox SVG resizing cutting off bottom 1px

        @include dark {
            &:first-child:last-child {
                margin-left: -$spacing-half;
                margin-right: -$spacing-half;
            }
        }
    }
}
