@import "styles/mixins";
@import "styles/variables";

.Thumbnail {
    height: 0;
    position: relative;
}

.ThumbnailImage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
}

.ThumbnailPlaceholder {
    max-width: 100%;
    height: 0;
    background: $grey-500;
    padding-bottom: 56%; // 16:9
    opacity: 0.24;
}

.PlayButtonOverlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlayButtonIcon {
    width: 80px;
    height: 80px;
    color: $white;
    fill: rgba($black, 0.4);
    border: 6px solid rgba($white, 0.4);
    border-radius: 80px;

    .Container:hover & {
        fill: $indigo-500;
    }
}
