.flash {
    pointer-events: none;
    position: absolute;

    animation-name: onInsertAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

@keyframes onInsertAnimation {
    0% {
        opacity: 1;
        background-color: rgb(255, 251, 244);
    }

    100% {
        opacity: 0;
    }
}
