@import "styles/mixins";
@import "styles/variables";

.editor-v4-divider-element {
    $hitbox-height: 40px;

    @include editor-v4-block($void: false);

    position: relative;

    &--active {
        @include editor-v4-block-active;
    }

    &__line {
        margin: 0;
        border: none;
        border-top: 1px solid $color-grey-750;
    }

    &__hitbox {
        position: absolute;
        top: -$hitbox-height / 2;
        width: 100%;
        height: $hitbox-height;
    }
}
