@import "styles/variables";

.divider {
    margin: 0;
    border: none;
    border-top: 1px solid $legacy-color-grey-750;
}

.hitbox {
    $hitbox-height: 40px;

    position: absolute;
    top: - $hitbox-height * 0.5;
    width: 100%;
    height: $hitbox-height;
}
