@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-social-fields {
        margin: 0;
        padding: 0;
        columns: 2;

        @media (max-width: $screen-xs) {
            columns: 1;
        }

        &__field {
            margin-bottom: $spacing-1 - $focus-state-size * 2;
            padding: $focus-state-size;
        }
    }
}
