@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-social-field {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        line-height: $line-height;
        font-size: $font-size-s;
        list-style: none;

        &__link {
            display: flex;
            align-items: center;
            width: 100%;
            text-decoration: none;
            padding: 0 $spacing-half;
            margin: 0 (-$spacing-half);
            border-radius: $border-radius-base;

            &,
            &:active,
            &:focus,
            &:hover,
            &:visited {
                color: inherit;
            }

            &:focus {
                @include focus-state;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__icon {
            $size: 16px;

            flex: 0 0 auto;
            width: $size;
            height: $size;
            margin-right: $spacing-1-5;
        }

        &__value {
            @include ellipsis;
        }
    }
}
