@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

// Make a block expand outside the story.
@mixin media-layout-expanded() {
    $block-offset: -10%;

    width: 120%;
    margin-left: $block-offset;

    @include rtl {
        margin-left: initial;
        margin-right: $block-offset;
    }

    @media (max-width: 992px) {
        @include media-layout-full-width;
    }
}

// Make a block take the full width of the screen.
@mixin media-layout-full-width() {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

@mixin rtl {
    [dir="rtl"] & {
        @content;
    }
}
