$spacing-base: 8px;
$spacing-half: 0.5 * $spacing-base;
$spacing-1: 1 * $spacing-base;
$spacing-2: 2 * $spacing-base;
$spacing-3: 3 * $spacing-base;
$spacing-4: 4 * $spacing-base;
$spacing-5: 5 * $spacing-base;

$block-spacing-vertical: $spacing-5;

$text-color: #333;
$text-color-2: #757777;
$link-color: #3c91ff;
$border-color: #c4c4c4;

$color-grey-100: #f4f4f4;
$color-grey-250: #ececec;
$color-grey-375: #dcdcdc;
$color-grey-500: #cccccc;
$color-grey-750: #afafaf;
$color-grey-900: #757777;

$font-size: 16px;
$line-height: 22px;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
$border-radius-base: 4px;
