.loading-indicator-v2 {
    position: relative;

    &__progress,
    &__head {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 50%;
    }

    &__infinite-progress {
        transform-origin: 50%;
        animation: loading-indicator-v2-infinite-progress infinite 1s linear;
    }
}

@keyframes loading-indicator-v2-infinite-progress {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
