@import "styles/variables";

.base-portal-v2 {
    $highest-known-z-index: $story-composer-sidebar-z-index;

    position: absolute;
    top: -10000px;
    left: -10000px;
    z-index: $highest-known-z-index + 1;

    &--uninitialized {
        visibility: hidden;
    }

    &--no-pointer-events {
        pointer-events: none;
    }
}
