@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-image {
        margin: $block-spacing-vertical 0;
        white-space: normal;
        text-align: center;

        &--contained {
            margin-left: auto;
            margin-right: auto;
        }

        &--expanded {
            @include media-layout-expanded;

            .prezly-slate-image__link,
            .prezly-slate-image__image,
            .prezly-slate-image__video,
            img {
                width: 100%;
            }
        }

        &--full-width {
            @include media-layout-full-width;

            .prezly-slate-image__link,
            .prezly-slate-image__image,
            .prezly-slate-image__video,
            img {
                width: 100%;
            }
        }

        &--gif {
            display: block;
        }

        &__link {
            position: relative;
            z-index: 0;
            display: block;
            text-decoration: none;
        }

        &__caption {
            display: block;
            margin: $spacing-1-5 auto 0;
            color: $text-color-2;
            font-style: italic;
            font-size: $font-size-s;
            text-align: center;

            &:empty {
                display: none;
            }
        }
    }
}
