@import "styles/mixins.scss";
@import "styles/variables.scss";

$close-icon-size: 24px;
$close-icon-padding: $spacing-1;

body.ReactModal__Body--open {
    overflow: hidden;
}

.prezly-slate {
    &-image-preview {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        outline: none;
        background-color: white;

        &__figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: 0;
            padding: $spacing-3;

            @include mobile-down {
                padding: $spacing-1;
            }
        }

        &__image-container {
            display: flex;
            align-items: center;
        }

        &__image {
        }

        &__caption {
            flex: 0 0 auto;
            padding: $spacing-3;
            line-height: $line-height;
            font-size: $font-size-m;
            text-align: center;
            color: $text-color;

            @include mobile-down {
                padding: $spacing-3 $spacing-1;
            }
        }

        &__close {
            @include button-reset;

            &:focus {
                @include focus-state;
            }

            position: absolute;
            top: $spacing-1;
            right: $spacing-1;
            width: $close-icon-size + 2 * $close-icon-padding;
            height: $close-icon-size + 2 * $close-icon-padding;
            z-index: 1;
            padding: $close-icon-padding;
            color: $link-color;

            &:hover {
                color: $color-link-hover;
            }
        }

        &__close-icon {
            width: $close-icon-size;
            height: $close-icon-size;
        }
    }
}
