@import "styles/variables.scss";

$background-color: #fff;
$link-color: #0082db;

.prezly-slate {
    &-image-rollover {
        position: relative;
        cursor: pointer;

        &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            pointer-events: none;
            background-color: $background-color;
            opacity: 0;
            transition: opacity linear 150ms;
        }

        &:hover {
            &:before {
                opacity: 0.9;
            }

            .prezly-slate-image-rollover__caption {
                opacity: 1;
            }
        }

        &__caption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            pointer-events: none;
            opacity: 0;
            transition: opacity linear 150ms;
            font-size: $font-size-s;
            text-align: center;
        }

        &__caption-icon-background {
            display: flex;
            padding: $spacing-2;
            background-color: $link-color;
            color: $background-color;
            border-radius: 50%;
        }

        &__caption-icon {
            $size: 26px;

            width: $size;
            height: $size;
        }

        // &__caption-text {
        //     display: block;
        //     width: 100%;
        //     height: 50%;
        //     padding: 0.5em;
        //     padding-top: 1.5em;

        //     @media (max-width: $screen-s-max) {
        //         display: none;
        //     }
        // }
    }
}
