.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
    color: inherit;
    box-sizing: border-box;

    &:hover {
        opacity: 0.8;
    }
}

.--clear {
    background-color: transparent;
    border: 1px solid transparent;
}

.--full-width {
    width: 100%;
    padding: 16px;
}

.__icon-wrapper {
    width: 12px;
    height: 12px;
    color: inherit;
}
