@import "styles/variables";

.choose-group {
    display: flex;
    grid-column-gap: 13px;
}

.hidden-input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.label {
    $border-size: 4px;

    padding-top: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    font-size: $font-size-small;
    color: $white;
    opacity: 0.5;
    border-radius: 8px;
    justify-content: center;
    min-width: 74px;

    .hidden-input:focus-visible + &,
    &:focus-visible {
        outline: 4px solid #c7d2fe;
        outline-offset: 4px;
    }

    .hidden-input:checked + & {
        color: $yellow-300;
        opacity: 1;
    }
}

.label-text {
    margin-top: $spacing-1;
}
