@import "styles/variables.scss";

.prezly-slate {
    &-quote {
        margin: $spacing-3 0;
        padding: $spacing-2 + $spacing-half;
        border-left: 4px solid $border-color;
        color: $text-color-2;
        font-size: $font-size;
        line-height: $line-height;
        font-style: italic;
    }
}
