/**
 * Public mixins intended to be used by external package consumers
 * to modify editor blocks core properties (width, alignment, etc).
 */

@import "./variables";

@mixin editor-styles {
    [data-slate-editor] {
        @content;
    }
}

@mixin editor-block-styles($type: null, $layout: null) {
    @if ($type == null) {
        > [data-slate-block] {
            @if ($layout == null) {
                @content;
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content;
                }
            }
        }
    } @else if ($type == "rich" or $type == "regular") {
        > [data-slate-block="rich"] {
            @if ($layout == null) {
                @content;
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content;
                }
            }
        }
    } @else {
        > [data-slate-type="#{$type}"] {
            @if ($layout == null) {
                @content;
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content;
                }
            }
        }
    }
}

@mixin editor-width(
    $width: "auto",
    $rich-width: $width,
    $expanded-width: $rich-width + 140px,
    $full-width: calc(100% - #{$spacing-4})
) {
    @include editor-styles {
        @include editor-block-styles {
            margin-left: auto;
            margin-right: auto;
            @if ($width != "auto") {
                max-width: $width;
            }
        }

        @if (width != "auto") {
            @include editor-block-styles($type: "rich") {
                max-width: $rich-width;
            }
        }

        @if $expanded-width != "auto" {
            @include editor-block-styles($layout: "expanded") {
                max-width: $expanded-width;
            }
        }

        @if $full-width != "auto" {
            @include editor-block-styles($layout: "full-width") {
                max-width: $full-width;
            }
        }
    }
}
