@import "./variables";

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

@mixin multi-line-ellipsis($lines) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin btn-unstyled {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}

@mixin img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
    &:active,
    &.active {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }
}

@mixin fancy-scrollbars() {
    $scrollbar-width: 4px;
    $scrollbar-paddings: $spacing-1;

    // Firefox scrollbar styling (CSS Scrollbars Level 1 Working Draft)
    // @see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
    scrollbar-color: $grey-300 $white;

    scrollbar-face-color: $grey-300;
    scrollbar-arrow-color: $grey-300;
    scrollbar-track-color: $white;
    scrollbar-shadow-color: $white;
    scrollbar-highlight-color: $white;
    scrollbar-3dlight-color: $grey-500;
    scrollbar-darkshadow-color: $grey-700;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-width;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-300;
        border-radius: $scrollbar-width;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: $grey-400;
    }
}
