@import "./colors";

$editor-block-focus-color: $yellow-300;
$editor-block-spacing-vertical: 44px;
$editor-heading-one-font-size: 28px;
$editor-heading-one-line-height: 34px;
$editor-heading-two-font-size: 22px;
$editor-heading-two-line-height: 28px;
$editor-paragraph-font-size: 16px;
$editor-paragraph-line-height: 22px;
$editor-text-color: $grey-700;
$editor-floating-button-size: 24px;
$editor-floating-button-margin: 12px;
$editor-embed-element-overlay-z-index: 2;
$editor-floating-container-z-index: $editor-embed-element-overlay-z-index + 1;

@mixin editor-width(
    $width: 'auto',
    $rich-block-width: $width,
    $expanded-width: $rich-block-width + 140px
) {
    [data-slate-editor] {
        > [data-slate-block] {
            margin-left: auto;
            margin-right: auto;
            max-width: $width;

            &[data-slate-block-layout="expanded"] {
                @if $width != 'auto' {
                    max-width: $expanded-width;
                }
            }

            &[data-slate-block-layout="full-width"] {
                max-width: calc(100% - $spacing-4);
            }
        }

        > [data-slate-block="rich"] {
            max-width: $rich-block-width;
        }
    }
}
