@import "./colors";
@import "./variables";

$editor-v4-block-focus-color: $yellow-300;
$editor-v4-block-spacing-vertical: 44px;
$editor-v4-heading-one-font-size: 28px;
$editor-v4-heading-one-line-height: 34px;
$editor-v4-heading-two-font-size: 22px;
$editor-v4-heading-two-line-height: 28px;
$editor-v4-paragraph-font-size: 16px;
$editor-v4-paragraph-line-height: 22px;
$editor-v4-text-color: $grey-700;
$editor-v4-floating-button-size: 24px;
$editor-v4-floating-button-margin: 12px;
$editor-v4-embed-element-overlay-z-index: 2;
$editor-v4-floating-container-z-index: $editor-v4-embed-element-overlay-z-index + 1;

@mixin editor-v4-void-element() {
    /*
     * Selection in Slate 0.50+ does not work as expected if a void block is selectable.
     * It could lead to an error when Slate is resolving the node which crashes the editor.
     *
     * Also, it's not possible to drag a node when it's selectable.
     *
     * see: https://app.clubhouse.io/prezly/story/19824/weird-selection-after-editing-an-attachment-or-image-or-gallery
     * see: https://app.clubhouse.io/prezly/story/20456/error-cannot-resolve-a-dom-node-from-slate-node-text
     */
    user-select: none;
}

@mixin editor-v4-block($void) {
    @if $void != true and $void != false {
        @error "editor-v4-block: $void must be either true or false, got #{$void}.";
    }

    margin: $editor-v4-block-spacing-vertical 0;

    @if $void == true {
        @include editor-v4-void-element;
    }
}

@mixin editor-v4-block-active {
    outline: solid 6px $editor-v4-block-focus-color;
    border-radius: 0;
}

@mixin editor-v4-block-error {
    color: $legacy-color-status-error;
    outline: solid 6px $legacy-color-status-error;
    border-radius: 0;
}

/**
 * Do not use this mixin outside of this file
 */
@mixin editor-v4-top-elements {
    [data-slate-editor="true"] > * {
        @content;
    }
}

@mixin editor-v4-width($width) {
    @include editor-v4-top-elements {
        max-width: $width;

        &[data-element-layout="expanded"] {
            max-width: $width + 140px;
        }

        &[data-element-layout="full-width"] {
            max-width: calc(100% - ($spacing-2 * 2));
        }
    }

    .editor-v4-placeholder {
        max-width: $width;
        margin: 0 auto;
    }

    .editor-v4-sizer {
        max-width: $width;
    }
}
