@import "./colors";

$editor-block-focus-color: $yellow-300;
$editor-block-spacing-vertical: 44px;
$editor-heading-one-font-size: 28px;
$editor-heading-one-line-height: 34px;
$editor-heading-two-font-size: 22px;
$editor-heading-two-line-height: 28px;
$editor-paragraph-font-size: 16px;
$editor-paragraph-line-height: 22px;
$editor-text-color: $grey-700;
$editor-floating-button-size: 24px;
$editor-floating-button-margin: 12px;
$editor-embed-element-overlay-z-index: 2;
$editor-floating-container-z-index: $editor-embed-element-overlay-z-index + 1;

@mixin editor-styles {
    [data-slate-editor] {
        @content;
    }
}

@mixin editor-block-styles($type: null, $layout: null) {
    @if ($type == null) {
        > [data-slate-block] {
            @if ($layout == null) {
                @content
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content
                }
            }
        }
    } @else if ($type == 'rich' or $type == 'regular') {
        > [data-slate-block="rich"] {
            @if ($layout == null) {
                @content
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content
                }
            }
        }
    } @else {
        > [data-slate-type="#{$type}"] {
            @if ($layout == null) {
                @content
            } @else {
                &[data-slate-block-layout="#{$layout}"] {
                    @content
                }
            }
        }
    }
}

@mixin editor-width(
    $width: 'auto',
    $rich-width: $width,
    $expanded-width: $rich-width + 140px,
    $full-width: calc(100% - #{$spacing-4})
) {
    @include editor-styles {
        @include editor-block-styles {
            margin-left: auto;
            margin-right: auto;
            @if ($width != 'auto') {
                max-width: $width;
            }
        }

        @if (width != 'auto') {
            @include editor-block-styles($type: 'rich') {
                max-width: $rich-width;
            }
        }

        @if $expanded-width != 'auto' {
            @include editor-block-styles($layout: 'expanded') {
                max-width: $expanded-width;
            }
        }

        @if $full-width != 'auto' {
            @include editor-block-styles($layout: 'full-width') {
                max-width: $full-width;
            }
        }
    }
}
