@import "./shared";
@import "./colors";
@import "./legacy-colors";

$spacing-base: 8px; // 8
$spacing-half: 0.5 * $spacing-base; // 4
$spacing-1: 1 * $spacing-base; // 8
$spacing-1-5: 1.5 * $spacing-base; // 12
$spacing-2: 2 * $spacing-base; // 16
$spacing-3: 3 * $spacing-base; // 24
$spacing-4: 4 * $spacing-base; // 32
$spacing-5: 5 * $spacing-base; // 40
$spacing-6: 6 * $spacing-base; // 48
$spacing-7: 7 * $spacing-base; // 56
$spacing-8: 8 * $spacing-base; // 64

$sizes: (
    none: 0,
    spacing-half: $spacing-half,
    spacing-1: $spacing-1,
    spacing-1-5: $spacing-1-5,
    spacing-2: $spacing-2,
    spacing-3: $spacing-3,
    spacing-4: $spacing-4,
    spacing-5: $spacing-5,
);

$border-radius-base: 6px;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$slate-floating-button-size: 24px;
$slate-floating-button-margin: $spacing-1 * 1.5;
$slate-paragraph-line-height: 26px;

$story-composer-navigation-z-index: 10000;
$story-composer-sidebar-z-index: $story-composer-navigation-z-index + 1;

$toolbar-dark-theme-bg: rgba(#292942, 0.96);
$toolbar-dark-theme-border-color: rgba(#fff, 0.12);
$toolbar-dark-theme-text-color: #fff;
$toolbar-dark-theme-text-hover-color: #fff;
$toolbar-dark-theme-icon-color: rgba(#fff, 0.6);
$toolbar-dark-theme-icon-active-color: $color-dark-ui-accent;
$toolbar-dark-theme-hover-bg: rgba(#fff, 0.12);
$toolbar-dark-theme-focus-outline: $indigo-200;
