@import "./shared";
@import "./colors";
@import "./legacy-colors";

$spacing-base: 8px;
$spacing-half: 0.5 * $spacing-base;
$spacing-1: 1 * $spacing-base;
$spacing-1-5: 1.5 * $spacing-base;
$spacing-2: 2 * $spacing-base;
$spacing-3: 3 * $spacing-base;
$spacing-4: 4 * $spacing-base;
$spacing-5: 5 * $spacing-base;
$spacing-6: 6 * $spacing-base;
$spacing-7: 7 * $spacing-base;
$spacing-8: 8 * $spacing-base;

$border-radius-base: 6px;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$slate-floating-button-size: 32px;
$slate-floating-button-margin: $spacing-2;
$slate-paragraph-line-height: 26px;

$story-composer-navigation-z-index: 10000;
$story-composer-sidebar-z-index: $story-composer-navigation-z-index + 1;


$toolbar-classic-theme-bg: #fff;
$toolbar-classic-theme-border-color: $legacy-color-grey-250;
$toolbar-classic-theme-text-color: #000;
$toolbar-classic-theme-text-hover-color: #000;
$toolbar-classic-theme-icon-color: #000;
$toolbar-classic-theme-icon-active-color: $legacy-color-green-500;
$toolbar-classic-theme-icon-hover-color: $toolbar-classic-theme-icon-active-color;
$toolbar-classic-theme-danger-color: $legacy-color-red-500;

$toolbar-dark-theme-bg: rgba(#292942, 0.96);
$toolbar-dark-theme-border-color: rgba(#fff, 0.12);
$toolbar-dark-theme-text-color: #fff;
$toolbar-dark-theme-text-hover-color: #fff;
$toolbar-dark-theme-icon-color: rgba(#fff, 0.6);
$toolbar-dark-theme-icon-active-color: #F9CA7B;
$toolbar-dark-theme-hover-bg: rgba(#fff, 0.12);
$toolbar-dark-theme-focus-outline: #c7d2fe;
