@import "styles/variables";

.LinkWithTooltip {
    max-width: 500px !important; // override .tooltip-v2 setting

    .link {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
            color: #ffffff;
        }
    }
}
