.editor-v4-link-with-tooltip {
    max-width: 500px !important; // override .tooltip-v2 setting

    &__link {
        color: $color-base-white;
        text-decoration: underline;

        &:hover {
            color: $color-base-white;
        }
    }
}
