@import "styles/mixins";
@import "styles/variables";

.editor-v4-video-element {
    @include editor-v4-block($void: false);

    position: relative;
    white-space: normal;

    &--active {
        @include editor-v4-block-active;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $editor-v4-embed-element-overlay-z-index;

        &--hidden {
            display: none;
        }
    }

    &__card {
    }

    &__thumbnail {
        height: 0;
        position: relative;
    }

    &__thumbnail-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
    }

    &__thumbnail-placeholder {
        max-width: 100%;
        height: 0;
        background: $grey-500;
        padding-bottom: 56%; // 16:9
        opacity: 0.24;
    }

    &__play-button-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__play-button-icon {
        width: 80px;
        height: 80px;
        color: $white;
        fill: rgba($black, 0.4);
        border: 6px solid rgba($white, 0.4);
        border-radius: 80px;

        .editor-v4-video-element__play-button-overlay:hover & {
            fill: $indigo-500;
        }
    }
}
