@import "styles/mixins";
@import "styles/variables";

.editor-v4 {
    position: relative;

    @include editor-v4-top-elements {
        margin-left: auto;
        margin-right: auto;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    [data-slate-editor="true"] * {
        &::selection {
            background: #c2e5ff;
        }
    }

    &__floating-add-menu-icon {
        $size: 16px;

        width: $size;
        height: $size;
        margin-right: $spacing-2;
    }
}
