@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-embed {
        display: flex;
        flex-direction: column;
        margin: $block-spacing-vertical 0;

        &:focus-within {
            @include focus-state;
        }

        &__screenshot {
            flex: 1;
            margin: 0 auto;
            max-width: 100%;
        }

        &__iframely {
            width: 100%;
        }
    }
}
