@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate-iframely-embed {
    width: 100%;

    &--error {
        color: $color-error;
        border: 1px solid $color-error;
        border-radius: $border-radius-base;
    }
}
