.EntryPointElement {
    display: block;
    position: relative;
    height: 0;
    font-size: 0;

    caret-color: transparent;

    &.focused {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 20px;
            border-top: 1px solid rgb(40, 42, 48);
            animation: 1.1s steps(2, start) 0s infinite normal none running cursor-blink;

            @keyframes cursor-blink {
                to {
                    visibility: hidden;
                }
            }
        }

        &:first-child::after {
            top: -2px;
        }

        &:last-child::after {
            top: 2px;
        }
    }
}
