@import "styles/variables";

.BlockQuoteElement {
    display: block;
}

.Quote {
    padding: $spacing-3;
    background-color: $grey-50;
    min-width: $spacing-1 * 15;
    max-width: fit-content;
    position: relative;
    border-left: none;
    margin-top: 0;
    margin-bottom: 0;

    &.alignLeft {
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    &.alignCenter {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &.alignRight {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

.Content {
    background-color: $grey-50;
    margin: 0;
    line-height: 160%;
    font-weight: 500;
    min-width: 5em;
    position: relative;

    &.alignLeft {
        padding-left: $spacing-2;
        border-left: 2px solid $grey-400;
        text-align: left;
    }

    &.alignCenter {
        padding-left: $spacing-2;
        border-left: 2px solid $grey-400;
        text-align: center;
    }

    &.alignRight {
        padding-right: $spacing-2;
        border-right: 2px solid $grey-400;
        text-align: right;
    }

    &.empty {
        &::before {
            content: attr(data-placeholder);
            color: $grey-400;
            position: absolute;
            pointer-events: none;
        }

        &.alignLeft::before {
            left: $spacing-2;
        }

        &.alignCenter {
            text-align: left;
        }

        &.alignRight::before {
            right: $spacing-2;
        }
    }
}
