@import "styles/variables";
@import "styles/mixins";

.Dropdown {
    $min-width: 242px;
    $min-width-with-labels: 328px;

    $vertical-spacing: $spacing-1;
    $horizontal-spacing: 1.5 * $spacing-1;

    $no-results-decoration-height: 50px;

    // Apparently, these font-sizes are non-standard. We normally use 14px and 12px.
    $font-size-medium: 13px;
    $font-size-small: 11px;

    // fancy scrollbars support
    .scrollArea {
        position: absolute;
        background-color: $white;
        border: 1px solid $grey-200;
        border-radius: $border-radius-base;
        overflow: hidden;
        pointer-events: all;
        display: flex;
        flex-direction: column;
    }

    .menu {
        position: initial !important;
        box-shadow: none;
        padding: 0;
        margin: 0;
        min-width: $min-width;
        border: none;

        .Dropdown:global(.open) & {
            display: block;
        }
    }

    .menuGroup {
        padding: $vertical-spacing $horizontal-spacing $vertical-spacing $horizontal-spacing;
        color: $grey-700;
        font-size: $font-size-medium;
        font-weight: 600;
        text-transform: none;
        line-height: 1.4;
    }

    // Override specificity of Bootstrap default .dropdown-menu > li > a style
    .menuItem {
        > a {
            padding: $vertical-spacing $spacing-1 * 2.5 $vertical-spacing $horizontal-spacing;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        > a:hover {
            background-color: $grey-100;
        }

        &:global(.active) > a {
            background-color: $grey-100;
        }

        &:last-child > a {
            padding-bottom: $vertical-spacing + $spacing-half;
        }
    }

    .menuItemIcon {
        flex-shrink: 0;
        flex-grow: 0;
        width: $spacing-5;
        height: $spacing-5;
        margin-right: $horizontal-spacing;
        border: 1px solid $grey-300;
        border-radius: $border-radius-base;
        background-color: $white;
        color: $grey-600;

        // Trick to support full styling of two-colored SVGs
        fill: $grey-300;

        &[data-action="add_image"],
        &[data-action="add_gallery"],
        &[data-action="add_video"],
        &[data-action="add_attachment"],
        &[data-action="add_embed"],
        &[data-action="add_embed_social"],
        &[data-action="add_web_bookmark"] {
            fill: $grey-100;
        }

        > svg {
            margin: -1px; // compensate border width
            display: block;
        }
    }

    .menuItemText {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        em {
            font-style: normal;
            background-color: $yellow-200;
            border-radius: $border-radius-small;
            outline: 1px solid $yellow-200;
        }
    }

    .menuItemTitle {
        color: $grey-700;
        margin-bottom: $spacing-half;
        font-size: $font-size-medium;
        line-height: 1.4;
        font-weight: 600;
    }

    .menuItemDescription {
        color: $grey-500;
        font-size: $font-size-small;
        line-height: 1.2;
    }

    .menuItemLabel {
        padding: 2px 5px;
        border-radius: 4px;
        color: $white;
        font-size: $font-size-small;
        font-weight: 600;
        line-height: 1.3;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-left: $horizontal-spacing * 2;

        &.beta {
            background-color: $yellow-500;
        }

        &.new {
            background-color: $indigo-500;
        }
    }

    &.noResults {
        .menu {
            padding-bottom: 0;
        }

        .menuItem > a {
            padding: $spacing-2;
            min-height: $no-results-decoration-height;
        }

        .menuItemIcon {
            border: none;
            color: $red-600;
            margin-right: $spacing-1;
            width: 14px;
            height: 14px;

            > svg {
                margin: 0;
            }
        }

        .menuItemText {
            color: $green-800;
            font-size: $font-size-medium;
            line-height: 1.4;
            height: 18px;
        }

        .menuItemDecoration {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }
    }
}
