.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;

    &--full-width {
        width: 100%;
        padding: 16px;
    }
}

.icon {
    color: white;
    width: 12px;
    height: 12px;
    margin-left: 8px;
}
