@import "styles/variables";

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: $font-size-small;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;

    &--full-width {
        width: 100%;
        padding: $spacing-2;
    }
}

.icon {
    color: white;
    width: $spacing-1-5;
    height: $spacing-1-5;
    margin-left: $spacing-1;
}
