@import "styles/variables";

.selection {
    background-color: $editor-selection-bg;
    color: $editor-selection-color;

    &,
    &::selection,
    & *::selection {
        background: $editor-selection-bg !important;
    }
}
