@use "sass:math";
@import "styles/variables";

.editor-v4-floating-add-menu {
    pointer-events: none; // allow click through the placeholder to prevent loss of focus in editor

    &__input::placeholder,
    &__placeholder {
        color: $grey-400;
        opacity: 1;
    }

    &__button {
        position: absolute;
        left: -($editor-v4-floating-button-size + $editor-v4-floating-button-margin);
    }

    &--paragraph {
        .editor-v4-floating-add-menu__input,
        .editor-v4-floating-add-menu__placeholder {
            font-size: $editor-v4-paragraph-font-size;
            line-height: $editor-v4-paragraph-line-height;
        }

        .editor-v4-floating-add-menu__button {
            top: math.div($editor-v4-paragraph-line-height - $editor-v4-floating-button-size, 2);
        }
    }

    &--heading-one {
        .editor-v4-floating-add-menu__input,
        .editor-v4-floating-add-menu__placeholder {
            font-size: $editor-v4-heading-one-font-size;
            line-height: $editor-v4-heading-one-line-height;
        }

        .editor-v4-floating-add-menu__button {
            top: math.div($editor-v4-heading-one-line-height - $editor-v4-floating-button-size, 2);
        }
    }

    &--heading-two {
        .editor-v4-floating-add-menu__input,
        .editor-v4-floating-add-menu__placeholder {
            font-size: $editor-v4-heading-two-font-size;
            line-height: $editor-v4-heading-two-line-height;
        }

        .editor-v4-floating-add-menu__button {
            top: math.div($editor-v4-heading-two-line-height - $editor-v4-floating-button-size, 2);
        }
    }

    &__dropdown,
    &__button {
        pointer-events: all;
    }
}
