@import "styles/variables";

.Table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    &--withBorders {
        .TableRow,
        .TableCell {
            border: 1px solid $grey-300;
        }
    }
}

.TableRow {
    color: $grey-700;
    font-size: $font-size-small;
}

.TableCell {
    min-width: 40px;
    min-height: 40px;
    padding: $spacing-1-5;
    outline: none !important;

    &--header {
        background: $grey-100;

        > [data-slate-type="paragraph"] {
            font-weight: 600;
        }
    }
}
