@use "sass:math";
@import "styles/variables";

.KeyboardKey {
    $size: 1.25em; // 20px : 16px
    $spacing-half: 0.25em; // 4px : 16px
    $border-width: 1px;

    display: inline-block;
    height: $size;
    min-width: $size;
    padding: $spacing-half;
    color: $grey-700;
    background-color: $grey-100;
    border-radius: 3px;
    box-shadow: 1px 1px 0 0 $grey-300;
    line-height: $size - $spacing-half * 2;
    text-align: center;
    white-space: nowrap;
    font-family: $font-family-sans-serif;
}
