.keyboard-key {
    $size: 22px;
    $border-width: 1px;

    display: inline-block;
    height: $size;
    padding: $spacing-half;
    background-color: #f5f5f5;
    border: $border-width solid $color-grey-500;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 $color-grey-500;
    line-height: $size - 2 * ($spacing-half + $border-width);
    text-align: center;
    white-space: nowrap;
    font-family: $font-family-sans-serif;
}
