.editor-v4-paragraph-element {
    margin: $spacing-2 0;
    color: $editor-v4-text-color;
    font-weight: 500;
    font-size: $editor-v4-paragraph-font-size;
    line-height: $editor-v4-paragraph-line-height;
}
