@use "sass:math";
@import "styles/mixins";
@import "styles/variables";

.file-attachment-element {
    @include editor-v4-block($void: false);

    border: 1px solid $legacy-color-grey-250;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);

    &--active {
        @include editor-v4-block-active;
    }

    &--unstyled {
        box-shadow: none;
    }
}

.content {
    @include editor-v4-void-element();

    display: flex;
    align-items: center;
}

.icon-container {
    $size: 48px;

    width: $size;
    height: $size;
    color: #000000;
    border: 1px solid $legacy-color-grey-250;
    border-radius: 2.67px;
    margin-left: $spacing-3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    $size: 22px;

    height: $size;
    width: $size;
}

.details {
    flex: 1;
    padding: $spacing-3;
}

.title {
    color: $legacy-color-type-primary;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    cursor: default;
}

.subtitle {
    color: $legacy-color-type-secondary;
    font-size: 15px;
    line-height: math.div(22, 15);
    cursor: default;
}

.text {
    &--unstyled {
        color: #000000;
    }
}
