@import "styles/helpers";
@import "styles/variables";

$avatar-size: 64px;

.wrapper {
    &.card {
        padding: $spacing-3;
    }

    &.withAvatar {
        display: grid;
        grid-template-columns: $avatar-size 1fr;
        grid-column-gap: 24px;
    }

    .jobDescription {
        margin-bottom: $spacing-2;
    }
}

.name {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
}

.jobDescription {
    color: $legacy-color-type-secondary;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $avatar-size;
    border-radius: $border-radius-base;
    border: 1px solid $legacy-color-grey-250;
    grid-row: 1;
    grid-column: 1;
}

.avatarPlaceholder {
    $size: 24px;

    width: $size;
    height: $size;
}

.content {
    @include ellipsis;

    grid-row: 1;
    grid-column: 2;
}

.socialFields {
    margin: 0;
    padding: 0;
    columns: 2;
}

.socialField {
    @include ellipsis;

    margin: 0;
    margin-bottom: $spacing-1;
    padding: 0;
    line-height: 26px;
    list-style: none;
    cursor: default; // Text selection doesn't work, use default cursor.
}

.socialIcon {
    margin-right: $spacing-1;
}
