@import "styles/helpers";
@import "styles/variables";

$avatar-size-card: 106px;
$avatar-size-signature: 56px;

.wrapper {
    display: flex;
    gap: 24px;

    &.card {
        padding: $spacing-3;
    }
}

.name {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

.jobDescription {
    margin-bottom: $spacing-1;
    color: $grey-500;
    line-height: 1.4;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-base;
    border: 1px solid $legacy-color-grey-250;
    grid-row: 1;
    grid-column: 1;

    .card & {
        width: $avatar-size-card !important;
        height: $avatar-size-card !important;
    }

    .signature & {
        width: $avatar-size-signature !important;
        height: $avatar-size-signature !important;
    }
}

.avatarPlaceholder {
    $size: 24px;

    width: $size;
    height: $size;
}

.content {
    @include ellipsis;

    grid-row: 1;
    grid-column: 2;
}

.fields {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    margin: 0;
    padding: 0;

    .signature & {
        display: block;
    }

    &.social {
        display: flex;
        align-items: center;
        margin-top: $spacing-1;
    }
}

.field {
    display: flex;
    align-items: center;
    gap: $spacing-1;
    margin: 0;
    padding: 0;
    line-height: 26px;
    list-style: none;
    color: #2262dd;
    cursor: default; // Text selection doesn't work, use default cursor.

    .icon {
        $size: 16px;

        width: $size;
        height: $size;
    }
}
