@import "styles/variables";

.DropdownOption {
    margin: 0;
    font-size: 13px;
    color: inherit;

    &.paragraph {
        // Override margin set on `.editor-story p`.
        margin-bottom: 0 !important;
    }

    &.heading1 {
        font-size: 17px;
        font-weight: 700;
    }

    &.heading2 {
        font-size: 15px;
        font-weight: 700;
    }

    &.unorderedList,
    &.orderedList {
        padding-left: $spacing-2;
    }

    &.unorderedList {
        // Fix broken list style. Breaks because this list
        // is nested in another list (menu items).
        list-style-type: disc;
    }

    &.blockquote {
        padding: 0;
        background: unset;

        // FIXME: Avoid styling component inner elements
        > p {
            padding-left: $spacing-half;
            font-style: italic;

            &::before {
                content: unset;
            }
        }
    }
}
