@use "sass:math";
@import "styles/mixins";
@import "styles/variables";

.FileAttachment {
    display: flex;
    align-items: center;
}

.IconContainer {
    $size: 48px;

    width: $size;
    height: $size;
    color: #000000;
    border: 1px solid $legacy-color-grey-250;
    border-radius: 2.67px;
    margin-left: $spacing-3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon {
    $size: 22px;

    height: $size;
    width: $size;
}

.Details {
    flex: 1;
    padding: $spacing-3;
}

.Title {
    color: $legacy-color-type-primary;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    cursor: default;
}

.Subtitle {
    color: $legacy-color-type-secondary;
    font-size: 15px;
    line-height: math.div(22, 15);
    cursor: default;
}

