@import "styles/mixins";
@import "styles/variables";

.editor-v4-coverage-card {
    $block-height: 180px;
    $image-size: $block-height;

    @include editor-v4-void-element();

    max-height: $block-height;
    color: $grey-700;
    display: flex;
    justify-content: stretch;
    flex-flow: row;

    &__details {
        padding: (2.5 * $spacing-base) (3 * $spacing-base);
        flex-grow: 1;
    }

    &__thumbnail {
        background-position: center center;
        background-size: cover;
        flex-grow: 0;

        min-width: $image-size;
        min-height: $image-size;
        max-width: $image-size;
    }

    &__thumbnail-image {
        visibility: hidden;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin: 0 0 $spacing-base 0;
        font-weight: 800;
        line-height: 1.6;
        font-size: $font-size-large;
        color: $grey-700;

        @include multi-line-ellipsis(1);

        &,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            color: $grey-800;
        }
    }

    &__description {
        color: $grey-500;
        margin: $spacing-base 0;
        line-height: 1.4;
        font-size: $font-size-small;

        @include multi-line-ellipsis(2);
    }

    &__meta {
        color: $grey-500;
        margin: $spacing-base 0;
        line-height: 1.4;
        font-size: $font-size-small;
    }

    &__author,
    &__publication-date {
        &:after {
            content: "/";
            margin: 0 $spacing-1;
        }

        &:last-child {
            &:after {
                content: "";
            }
        }
    }

    &__outlet {
        display: flex;
        align-items: center;
        color: $grey-700;
        font-weight: 600;
        margin-top: $spacing-2;

        &:first-child {
            margin-top: 0;
        }

        &,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            color: $grey-800;
        }
    }

    &__outlet-icon {
        width: $spacing-base * 2;
        height: $spacing-base * 2;
        margin-right: $spacing-base;
    }

    &__outlet-name {
        flex-grow: 1;
    }
}
