@import "styles/variables";

.editor-v4-heading-element {
    color: $editor-v4-text-color;
    font-weight: bold;

    &--heading-one {
        margin: $editor-v4-block-spacing-vertical 0 $spacing-3 0;
        font-size: $editor-v4-heading-one-font-size;
        line-height: $editor-v4-heading-one-line-height;
    }

    &--heading-two {
        margin: $spacing-3 0;
        font-size: $editor-v4-heading-two-font-size;
        line-height: $editor-v4-heading-two-line-height;
    }
}
