@import "styles/variables";

.LinkMenu {
    display: flex;

    .form {
        display: flex;
    }

    .formContent {
        height: $spacing-5;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        border-right: 1px solid;
        border-color: $toolbar-dark-theme-border-color;
    }

    .input {
        border: 0;
        padding: 0 $spacing-1;
        margin: $spacing-1;
        border-radius: $border-radius-base;
        min-width: 264px;

        color: $black;

        &:focus {
            outline: none;
        }
    }

    input.input {
        // override `.editor-menu input` rule specificity
        font-size: 13px;
    }
}
