.Table {
    width: 100%;

    &.withBorders {
        tr,
        td,
        th {
            border: 1px solid black;
        }
    }

    td,
    th {
        min-width: 40px;
        min-height: 40px;
    }

    th {
        [data-slate-type="paragraph"] {
            font-weight: bold;
        }
    }
}
