@use "sass:math";
@import "styles/variables";

.MentionsDropdown {
    display: block;
    // 226px is the height at which all 5 campaign placeholders and salutation (6 items)
    // fit without showing a vertical scrollbar
    // 6 * 36px (item) + 2 * 4px (top and bottom padding) + 2 * 1px (top and bottom border)
    max-height: 226px;
    overflow: auto;
    padding: $spacing-half 0 !important; // override editor's ul styling
    margin: 0 !important; // override editor's ul styling

    &.hidden {
        display: none;
    }

    .Item {
        // override ".editor-email-campaign ul li" styling
        margin: 0 !important;
        font-size: 1em !important;
        line-height: math.div(20, 14) !important;

        a {
            &,
            &:hover {
                // override ".editor-email-campaign a" and ".editor-story a" styling
                text-decoration: none;
            }
        }
    }
}
