@import "styles/helpers";
@import "styles/variables";

.Button {
    @include button-variant(#767676, $legacy-color-grey-250, transparent);

    width: $editor-floating-button-size;
    height: $editor-floating-button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    border-radius: 4px;
    padding: 0;

    &.green {
        border: none;
        color: $white;
        background-color: $green-500;

        &:hover {
            color: $white;
            background-color: $green-600;
        }

        &.open {
            background-color: $green-700;
        }
    }

    .Icon {
        transition: transform 0.2s ease-out;
        width: 16px;
        height: 16px;
        stroke-width: 3px;

        .open & {
            transform: rotate(45deg);
        }
    }
}
