@import "styles/variables";

.ParagraphElement {
    margin: $spacing-2 0;
    color: $editor-text-color;
    font-weight: 500;
    font-size: $editor-paragraph-font-size;
    line-height: $editor-paragraph-line-height;
}
