@import "styles/variables";

.image-size-warning {
    $size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    background-color: rgba(black, 0.5);
    color: $legacy-color-orange-400;
    font-size: 20px;
}
