@import "styles/variables";

.FloatingContainer {
    z-index: $editor-v4-floating-container-z-index;

    &.uninitialized {
        // Do not show the floating container until its' width is known
        visibility: hidden;
    }

    // https://stackoverflow.com/a/26963621/1845465
    svg {
        pointer-events: none;
    }
}
