@import "styles/mixins.scss";
@import "styles/variables.scss";

$close-icon-size: 24px;
$close-icon-padding: $spacing-2;
$nav-icon-size: 48px;

body.ReactModal__Body--open {
    overflow: hidden;
}

.prezly-slate {
    &-lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        outline: none;
        background-color: white;

        &__figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: 0;

            @include mobile-down {
                padding: $spacing-1;
            }
        }

        &__image-container {
            display: flex;
            align-items: center;
            position: relative;
            overflow-y: hidden;
            margin: $spacing-3 auto;

            &:hover {
                .prezly-slate-lightbox__actions {
                    opacity: 1;
                }
            }
        }

        &__image {
            max-height: 100%;
        }

        &__actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-2 0;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;

            &:focus-within {
                opacity: 1;
            }
        }

        &__download,
        &__pinterest {
            margin: 0 $spacing-1;
        }

        &__download {
            @include button-reset;

            padding: $spacing-1 $spacing-3;
            background-color: $color-link;
            color: white;
            border-radius: $border-radius-base;
            font-size: $font-size-m;
            line-height: $line-height;
            text-decoration: none;

            &:active {
                padding-top: $spacing-1 + 1px;
                padding-bottom: $spacing-1 - 1px;
            }

            &:focus {
                @include focus-state;
            }

            &:hover {
                background-color: $color-link-hover;
            }
        }

        &__pinterest {
            $size: 38px;

            width: $size;
            height: $size;
        }

        &__caption {
            flex: 0 0 auto;
            margin: $spacing-3;
            margin-top: 0;
            line-height: $line-height;
            font-size: $font-size-m;
            font-style: italic;
            text-align: center;
            color: $color-text-2;

            &:empty {
                display: none;
            }

            @include mobile-down {
                padding: $spacing-3 $spacing-1;
            }
        }

        &__close {
            @include button-reset;

            &:focus {
                @include focus-state;
            }

            position: absolute;
            top: 0;
            right: 0;
            width: $close-icon-size + 2 * $close-icon-padding;
            height: $close-icon-size + 2 * $close-icon-padding;
            z-index: 1;
            padding: $close-icon-padding;
            color: $color-link;

            &:hover {
                color: $color-link-hover;
            }
        }

        &__close-icon {
            width: $close-icon-size;
            height: $close-icon-size;
        }

        &__nav {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-3;
        }

        &__nav-button {
            @include button-reset;

            padding: $spacing-5 $spacing-1;
            z-index: 1;

            &:active {
                .prezly-slate-lightbox__nav-button-icon {
                    position: relative;
                    top: 1px;
                }
            }

            &:disabled {
                visibility: hidden;
            }

            &:focus-within {
                @include focus-state;
            }
        }

        &__nav-button-icon {
            width: $nav-icon-size;
            height: $nav-icon-size;
        }
    }
}
