@import "styles/variables.scss";

.prezly-slate {
    &-attachment {
        margin: $block-spacing-vertical 0;
        border: 1px solid $color-grey-250;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow;

        &__content {
            display: flex;
            align-items: center;
        }

        &__icon-container {
            $size: 48px;

            width: $size;
            height: $size;
            color: black;
            border: 1px solid $color-grey-250;
            border-radius: $border-radius-base;
            margin-left: $spacing-3;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__icon {
            $size: 22px;

            height: $size;
            width: $size;
        }

        &__details {
            flex: 1;
            padding: $spacing-3;
        }

        &__title {
            color: $text-color;
            font-size: 24px;
            line-height: 1;
            font-weight: bold;
            cursor: default;

            &--unstyled {
                color: black;
            }
        }

        &__subtitle {
            color: $text-color-2;
            font-size: 15px;
            line-height: (22 / 15);
            cursor: default;

            &--unstyled {
                color: black;
            }
        }
    }
}
