@import "styles/variables.scss";

.prezly-slate {
    &-attachment {
        display: block;
        margin: $block-spacing-vertical 0;
        border: 1px solid $color-grey-250;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &__content {
            display: flex;
            align-items: center;
        }

        &__icon-container {
            $size: 48px;

            width: $size;
            height: $size;
            color: black;
            border: 1px solid $color-grey-250;
            border-radius: $border-radius-base;
            margin-left: $spacing-3;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__icon {
            $size: 22px;

            height: $size;
            width: $size;
        }

        &__details {
            flex: 1;
            padding: $spacing-3;
        }

        &__title {
            margin-bottom: $spacing-1;
            color: $text-color;
            font-size: $font-size-l;
            font-weight: bold;

            &--unstyled {
                color: black;
            }
        }

        &__subtitle {
            color: $text-color-2;
            font-size: $font-size-s;

            &--unstyled {
                color: black;
            }
        }
    }
}
