@import "styles/variables.scss";

.prezly-slate {
    &-bulleted-list {
        margin: $spacing-2 0;
        padding: 0;
        padding-left: $spacing-4;
        color: $text-color;
        font-size: $font-size-m;
        line-height: $line-height;

        .prezly-slate-bulleted-list,
        .prezly-slate-numbered-list {
            & {
                margin: 0;
            }
        }
    }
}
