@import "styles/mixins";
@import "styles/variables";

.MentionElement {
    @include editor-v4-void-element;

    padding: 0 2px;
    background-color: $legacy-alert-info-bg;
    border: 1px solid $legacy-alert-info-border;
    border-radius: 3px;
    color: darken($legacy-alert-info-text, 5%);

    &:hover {
        color: #004492;
    }

    &.selected {
        border-color: #004492;
    }
}
