@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-gallery-image {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--with-border-radius {
            border-radius: 2px;
        }
    }
}
