@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-gallery-image {
        &--with-border-radius {
            &,
            .prezly-slate-gallery-image__media {
                border-radius: 2px;
            }
        }

        &__media {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: "object-fit: cover;";
        }
    }
}
