@import "styles/variables";

.LoadingPlaceholder {
    margin-bottom: $spacing-3;
}

.Error {
    padding: $spacing-2 $spacing-1;
    text-align: center;
}

.Content {
    &.video {
        > div:only-child {
            margin: 0 auto;
        }
    }

    :global(.iframely-embed) {
        margin: 0 auto;
    }
}
