@import "styles/variables";

.GalleryTile {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: none;

    &.interactive {
        pointer-events: all;
    }

    &.dragging {
        cursor: grabbing;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    }

    &.withBorderRadius {
        border-radius: $border-radius-small;
    }

    &.insertBefore,
    &.insertAfter {
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            content: "";
            padding: 2px;
            background: #9747ff;
            border: 5px solid white;
            z-index: 3;
        }
    }

    &.insertBefore {
        &:after {
            left: -6px;
        }
    }

    &.insertAfter {
        &:after {
            right: -6px;
        }
    }
}

.Clone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.5);
    z-index: 2;
}

.Overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);

        .Actions {
            opacity: 1;
        }
    }

    .DragHandle {
        flex: 1;
        cursor: grab;
    }

    .Caption {
        height: 32px;
        flex-shrink: 0;
        padding: $spacing-1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 84%);
        opacity: 0;

        &.visible,
        .interactive & {
            opacity: 1;
        }

        .Input {
            width: 100%;
            appearance: none;
            color: $white;
            background: none;
            border: none;
            outline: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.2;

            &::placeholder {
                color: $white;
                font-style: italic;
                font-weight: 300;
            }
        }
    }

    .Actions {
        position: absolute;
        top: $spacing-1;
        right: $spacing-1;
        display: flex;
        gap: $spacing-1;
        opacity: 0;
    }
}

.SizeWarning {
    position: absolute;
    top: 0;
    left: 0;
}
