@import "styles/variables";

.GalleryTile {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;

    &.withBorderRadius {
        border-radius: $border-radius-small;
    }
}

.SizeWarning {
    position: absolute;
    top: 0;
    left: 0;
}
