@import "styles/mixins";
@import "styles/variables";

.gallery-tooltip {
    display: flex;
    align-items: center;
    padding: $spacing-1 ($spacing-1 + $spacing-half);
    font-size: 14px;

    @include classic {
        color: $toolbar-classic-theme-text-color;
    }

    @include dark {
        color: $toolbar-dark-theme-icon-color;
    }

    &__icon {
        margin-right: $spacing-1;
        width: 16px;
        height: 16px;

        @include classic {
            color: $legacy-color-purple-500;
        }

        @include dark {

            color: $toolbar-dark-theme-icon-color;
        }
    }

    &__button {
        padding: 0;
        margin-left: $spacing-half;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}
