@import "styles/mixins";
@import "styles/variables";

.gallery-tooltip {
    display: flex;
    align-items: center;
    padding: $spacing-1 ($spacing-1 + $spacing-half);
    font-size: 14px;

    color: $toolbar-dark-theme-icon-color;

    &__icon {
        margin-right: $spacing-1;
        width: 16px;
        height: 16px;
        color: $toolbar-dark-theme-icon-color;
    }

    &__button {
        padding: 0;
        margin-left: $spacing-half;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}
