@import "styles/variables";

.editor-v4-mentions-dropdown {
    position: fixed;
    display: block;
    // 220px is the height at which all 5 campaign placeholders and salutation (6 items)
    // fit without  showing a vertical scrollbar
    max-height: 220px;
    overflow: auto;
    padding: $spacing-half 0 !important; // override editor's ul styling
    margin: 0 !important; // override editor's ul styling

    &__item {
        // override ".editor-email-campaign ul li" styling
        margin: 0 !important;
        font-size: 1em !important;
        line-height: (20 / 14) !important;

        a {
            &,
            &:hover {
                // override ".editor-email-campaign a" and ".editor-story a" styling
                text-decoration: none;
            }
        }
    }
}
