@import "styles/variables";

.stack {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    @each $sizeName, $sizeValue in $sizes {
        &[data-spacing="#{$sizeName}"] {
            gap: $sizeValue;
        }
    }

    &.alignStart {
        align-items: start;
    }
    &.alignCenter {
        align-items: center;
    }
    &.alignEnd {
        align-items: end;
    }
}
