@import "styles/variables";

.toggle {
    color: $white;
    font-size: $font-size-smaller;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    opacity: 0.9;
    margin: 0;
}

$WHITE_CIRCLE: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

.input {
    $border-size: 4px;

    padding: 0;
    cursor: pointer;
    appearance: none;
    width: 30px;
    height: 16px;
    margin: 0 !important;
    border-radius: 24px;
    background-image: $WHITE_CIRCLE;
    background-size: contain;
    background-color: rgba($white, 0.25);
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out;
    box-shadow: inset 0px 1px 3px rgba($black, 0.16);

    &:hover:not(:disabled) {
        background-color: rgba($white, 0.35);

        &:checked {
            background-color: #f7b84f;
        }
    }

    &:checked {
        background-image: $WHITE_CIRCLE;
        background-color: $yellow-300;
        background-position: right center;
        border-color: $yellow-300;
    }

    &:focus-visible {
        outline-offset: 0;
        outline: 4px solid #c7d2fe;
    }

    &:disabled,
    &:disabled + .label-text {
        opacity: 0.4;
    }
}

.label-text {
    margin-left: 12px;
}
