@use "sass:math";
@import "styles/variables";

.editor-v4-floating-web-bookmark-input {
    $input-height: 34px;

    position: relative;
    top: math.div(-($input-height - $editor-v4-paragraph-line-height), 2);

    &__close-button {
        position: absolute;
        top: math.div($input-height - $editor-v4-floating-button-size, 2);
        left: -($editor-v4-floating-button-size + $editor-v4-floating-button-margin);
    }

    &__input {
        border-right: none;
    }

    &__addon {
        padding: 0;
        border: none;
    }

    &__button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: $input-height;
    }
}
