@import "styles/variables";
@import "styles/helpers";

.Dropdown {
    $min-width: 242px;

    $vertical-spacing: $spacing-1;
    $horizontal-spacing: 1.5 * $spacing-1;

    $no-results-decoration-height: 50px;

    // Apparently, these font-sizes are non-standard. We normally use 14px and 12px.
    $font-size-medium: 13px;
    $line-height-medium: 15px;

    $font-size-small: 11px;
    $line-height-small: 15px;

    // fancy scrollbars support
    .ScrollArea {
        position: absolute;
        background-color: $white;
        border: 1px solid $grey-200;
        border-radius: $border-radius-base;
        overflow: hidden;
        pointer-events: all;
        display: flex;
        flex-direction: column;
    }

    .Menu {
        position: initial !important;
        box-shadow: none;
        padding: 0;
        margin: 0;
        min-width: $min-width;
        border: none;
    }

    &:global(.open) .Menu {
        display: block;
    }

    .MenuGroup {
        padding: $vertical-spacing $horizontal-spacing $vertical-spacing $horizontal-spacing;
        color: $grey-700;
        font-size: $font-size-medium;
        font-weight: 600;
        text-transform: none;
        line-height: 1.4;
    }

    // Override specificity of Bootstrap default .dropdown-menu > li > a style
    .MenuItem {
        > a {
            padding: $vertical-spacing $spacing-1 * 2.5 $vertical-spacing $horizontal-spacing;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        > a:hover {
            background-color: $grey-100;
        }

        &:global(.active) > a {
            background-color: $grey-100;
        }

        &:last-child > a {
            padding-bottom: $vertical-spacing + $spacing-half;
        }
    }

    .MenuItemIcon {
        $size: $spacing-4;

        flex-shrink: 0;
        flex-grow: 0;
        width: $size;
        height: $size;
        margin-right: $horizontal-spacing;
        border: 1px solid $grey-300;
        border-radius: $border-radius-base;
        background-color: $white;
        color: $grey-600;

        // Trick to support full styling of two-colored SVGs
        fill: $grey-300;

        &[data-action="add_image"],
        &[data-action="add_gallery"],
        &[data-action="add_video"],
        &[data-action="add_attachment"],
        &[data-action="add_embed"],
        &[data-action="add_embed_social"],
        &[data-action="add_web_bookmark"] {
            fill: $grey-100;
        }

        > svg {
            margin: -1px; // compensate border width
            display: block;
            width: $size;
            height: $size;
        }
    }

    .MenuItemText {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        em {
            font-style: normal;
            background-color: $yellow-200;
            border-radius: $border-radius-small;
            outline: 1px solid $yellow-200;
        }
    }

    .MenuItemTitle {
        color: $grey-700;
        margin-bottom: 2px;
        font-size: $font-size-medium;
        line-height: $line-height-medium;
        font-weight: 600;
    }

    .MenuItemDescription {
        color: $grey-500;
        font-size: $font-size-small;
        line-height: $line-height-small;
    }

    .MenuItemLabel {
        padding: 2px 5px;
        border-radius: 4px;
        color: $white;
        font-size: $font-size-small;
        font-weight: 600;
        line-height: 1.3;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-left: $horizontal-spacing * 2;

        &.warning {
            background-color: $yellow-500;
        }

        &.primary {
            background-color: $indigo-500;
        }
    }

    &.noResults {
        .Menu {
            padding-bottom: 0;
        }

        .MenuItem > a {
            padding: $spacing-2;
            min-height: $no-results-decoration-height;
        }

        .MenuItemIcon {
            $size: 14px;

            border: none;
            color: $red-600;
            margin-right: $spacing-1;
            width: $size;
            height: $size;

            > svg {
                margin: 0;
                width: $size;
                height: $size;
            }
        }

        .MenuItemText {
            color: $green-800;
            font-size: $font-size-medium;
            line-height: 1.4;
            height: 18px;
        }

        .MenuItemDecoration {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }
    }
}
