@use "sass:math";
@import "styles/variables";

.FloatingSnippetInput {
    $input-height: 34px;

    position: relative;
    top: math.div(-($input-height - $editor-paragraph-line-height), 2);

    .CloseButton {
        position: absolute;
        top: math.div($input-height - $editor-floating-button-size, 2);
        left: -($editor-floating-button-size + $editor-floating-button-margin);
    }
}
