@import "styles/variables";

.ListElement {
    margin: $spacing-2 0;
    padding: 0;
    padding-left: $spacing-4;
    color: $editor-text-color;
    font-size: $editor-paragraph-font-size;
    line-height: $editor-paragraph-line-height;

    &.bulleted {
        list-style-type: disc;
    }

    &.numbered {
        list-style-type: decimal;
    }

    &.alignInherit {
        text-align: inherit;
    }

    &.alignLeft,
    &.alignRight,
    &.alignCenter {
        padding-left: 0;
        padding-right: 0;
        list-style-position: inside;
    }

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        text-align: center;
    }

    &.alignRight {
        text-align: right;
    }

    // nested lists
    .ListElement {
        margin: 0;
    }

    &.numbered .numbered {
        list-style-type: lower-latin;
    }

    &.numbered .numbered .numbered {
        list-style-type: lower-roman;
    }

    &.numbered .numbered .numbered .numbered {
        list-style-type: decimal;
    }
}
