@import "styles/mixins";
@import "styles/variables";

.Editor {
    position: relative;
}

.Editable {
    *::selection {
        background: #c2e5ff;
    }

    > [data-slate-block] {
        margin-left: auto;
        margin-right: auto;
        max-width: 680px;

        &[data-slate-block-layout="expanded"] {
            max-width: 680px + 140px;
        }

        &[data-slate-block-layout="full-width"] {
            max-width: calc(100% - $spacing-4);
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


