@import "styles/helpers";
@import "styles/variables";

.Editor {
    position: relative;
}

.Editable {
    *::selection {
        background: $editor-selection-bg;
        color: $editor-selection-color;
    }

    > [data-slate-block] {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    > [data-slate-block="hidden"] + [data-slate-block] {
        margin-top: 0 !important;
    }

    > [data-slate-block="rich"] {
        margin: $spacing-6 0;
    }

    > [data-slate-block="regular"] {
        margin: $spacing-2 0;
    }

    > [data-slate-type="heading-one"],
    > [data-slate-type="heading-two"] {
        margin-top: $spacing-4;
    }

    > [data-slate-type="divider"] {
        /** Compensating .extendedHitArea visual expansion */
        margin: $spacing-3 0;
    }
}
