@import "styles/variables";

.floating-menu-dropdown {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    border-right: 1px solid $legacy-color-grey-250;

    &:last-child {
        border-right: none;
    }

    &,
    &.open {
        .dropdown-toggle {
            &,
            &:hover,
            &:focus {
                color: #1f1f1f;
                background: none;
                box-shadow: none;
            }
        }
    }

    .dropdown-toggle {
        width: 100%;
        height: 40px;
        padding: 0 $spacing-2;
        color: #767676;
        background: none;
        border: 0;
        border-radius: 0;
        font-weight: normal;
        text-align: left;

        .caret {
            position: absolute;
            top: 50%;
            right: $spacing-2;
            margin-top: -2px;
        }
    }

    .dropdown-menu {
        width: 182px; // we need +2 px to align with the toggle button
        margin: -2px 0 0 -1px;
        padding: 0;
        border-top: 0;
        border-color: $legacy-color-grey-250;
        border-radius: 0 0 4px 4px;
        box-shadow: none;
        overflow: auto;

        a {
            text-decoration: none;
        }
    }

    &--rich-text-formatting-options {
        .floating-menu-dropdown__menu-item {
            border-top: 1px solid $legacy-color-grey-250;
            margin-bottom: 0;
            min-height: 34px;
            // Workaround to center the text inside a fixed-height container.
            // Using `flex` doesn't work because it breaks the hover highlight,
            // which is set on the child `a`.
            display: table;
            width: 100%;

            > a {
                padding: $spacing-half $spacing-2;
                display: table-cell;
                vertical-align: middle;
            }
        }

        .floating-menu-dropdown__menu-option {
            margin: 0;

            &--paragraph {
                // Override margin set on `.editor-story p`.
                margin-bottom: 0 !important;
            }

            &--unordered-list,
            &--ordered-list {
                padding-left: $spacing-2;
            }

            &--unordered-list {
                // Fix broken list style. Breaks because this list
                // is nested in another list (menu items).
                list-style-type: disc;
            }

            &--blockquote {
                padding: 0 $spacing-1;
            }
        }
    }
}
