@import "styles/variables";

.InputPlaceholder {
    padding: $spacing-3 $spacing-5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.pressed {
        // [DEV-8926] A trick to hide a misplaced text input caret on mouse button press in Firefox
        caret-color: transparent;
    }

    .Title {
        margin: 0 0 $spacing-half;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: 1.6;
    }

    .Description {
        margin: 0 0 $spacing-3;
        color: $grey-500;
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.4;
    }

    .Input {
        display: flex;
    }
}
