.Dot {
    opacity: 0;

    @keyframes loading-dots-pulsate {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    animation: 2s infinite loading-dots-pulsate;

    + .Dot {
        animation-delay: 0.2s;
    }
    + .Dot + .Dot {
        animation-delay: 0.4s;
    }
}
