@import "styles/variables";

.Placeholder {
    padding: $spacing-2 $spacing-2 28px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Icon {
        margin: 0 0 $spacing-half;
        width: $spacing-5 * 2;
        height: $spacing-5 * 2;
    }

    .Title {
        margin: 0 0 $spacing-half;
        font-weight: 600;
        font-size: $font-size-large;
        line-height: 1.6;
    }

    .Description {
        margin: 0;
        color: $grey-500;
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.4;
    }

    .Icon,
    .Text {
        transition: transform 0.2s ease-in-out;
    }

    &:hover,
    &.dragOver {
        .Icon,
        .Text {
            transition-timing-function: cubic-bezier(0.500, 0.250, 0.200, 1.440); /* custom */
            transition-duration: 0.3s;
        }

        .Icon {
            transform: scale(1.2);
        }

        .Text {
            transform: translate(0, 8px);
        }
    }
}
