@import "styles/variables";

.gallery-layout-settings {
    position: relative;
    padding: $spacing-2 $spacing-3;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
    text-align: left;
    font-size: 14px;

    .gallery-layout-settings--classic-theme & {
        background-color: white;
        border: 1px solid $legacy-color-grey-250;
        color: $grey-600;
        border-radius: $border-radius-base;
    }

    .gallery-layout-settings--dark-theme & {
        background-color: $toolbar-dark-theme-bg;
        backdrop-filter: blur(6px);
        border: none;
        color: rgba($white, 0.5);
        border-radius: $border-radius-base * 2;

        top: 100%;
        right: $spacing-1;
        margin-top: $spacing-1;

        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border: 6px solid transparent;
            border-bottom-color: $toolbar-dark-theme-bg;
            top: -12px;
            right: 113px;
            pointer-events: none;
        }
    }

    &__close-button {
        position: absolute;
        top: $spacing-1;
        right: $spacing-1;
        display: block;

        .gallery-layout-settings--dark-theme & {
            color: $white;
            background: transparent !important;
            border: none !important;
            top: $spacing-2;
            right: $spacing-2;
            padding: $spacing-1;

            > svg {
                width: 12px;
                height: 12px;
            }

            &:hover {
                &:before {
                    content: "";
                    display: block;
                    border-radius: $border-radius-base;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: $toolbar-dark-theme-hover-bg;
                }
            }
        }
    }

    &__description {
        margin-bottom: $spacing-2;
        color: inherit;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 $spacing-2;

        .gallery-layout-settings--classic-theme & {
            color: $black;
        }

        .gallery-layout-settings--dark-theme & {
            color: $white;
        }
    }

    &__setting {
        margin-bottom: $spacing-2;

        &:last-child {
            margin-bottom: $spacing-1;
        }

        .gallery-layout-settings--dark-theme & {
            .btn {
                font-size: 13px;

                color: rgba($white, 0.5);
                background-color: rgba($white, 0.08);
                border: none;
                margin-right: 2px;
                box-shadow: none;

                &:hover {
                    background-color: $toolbar-dark-theme-hover-bg;
                }

                &.active {
                    color: $grey-900;
                    background-color: $color-dark-ui-accent;
                }
            }
        }
    }

    &__setting-label {
        display: block;
        margin-bottom: $spacing-1;

        .gallery-layout-settings--classic-theme & {
            color: $grey-500;
        }

        .gallery-layout-settings--dark-theme & {
            color: $white;
        }
    }
}
