@import "styles/variables";

.gallery-layout-settings {
    position: relative;
    padding: $spacing-2 $spacing-3;
    background-color: white;
    border: 1px solid $color-grey-250;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
    text-align: left;
    font-size: 14px;

    &__close-button {
        position: absolute;
        top: $spacing-1;
        right: $spacing-1;
    }

    &__description {
        margin-bottom: $spacing-2;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 $spacing-2;
    }

    &__setting {
        margin-bottom: $spacing-2;

        &:last-child {
            margin-bottom: $spacing-1;
        }
    }

    &__setting-label {
        display: block;
        margin-bottom: $spacing-1;
    }
}
