@import "styles/variables";

.selection {
    border-radius: 4px;
    box-shadow: 0px 2px 0px 1px #c7d2fe, 0px -2px 0px 1px #c7d2fe;
    color: #3630a3;

    &,
    &::selection,
    & *::selection {
        background: #c7d2fe !important;
    }
}
