@import "styles/mixins";
@import "styles/variables";

.image {
    display: block;
    width: 100%;
}

.caption {
    height: 0;
    margin: 0 auto;
    padding: 12px 0 0;
    color: #767676;
    font-style: italic;
    font-size: $font-size-small;
    word-break: break-word;

    // if caption is empty, we want to display it outside-of-the-flow to not take vertical space.
    &.floating {
        position: absolute;
        width: 100%;
    }

    &.visible {
        height: auto;
    }

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        text-align: center;
    }

    &.alignRight {
        text-align: right;
    }
}
