.blink {
    pointer-events: none;
    position: absolute;

    animation-name: onInsertAnimation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
}

@keyframes onInsertAnimation {
    0% {
        opacity: 0;
        background-color: #fff;
    }
    50% {
        opacity: 0.5;
        background-color: #fff6ce;
    }
    100% {
        opacity: 0;
        background-color: #fff;
    }
}
