@import "styles/helpers";
@import "styles/variables";

.CalloutElement {
    display: block;
    position: relative;
}

.Callout {
    background-color: $callout-block-background;
    border: $callout-block-border;
    border-radius: $callout-block-border-radius;

    padding: $spacing-3;
    display: flex;
    flex-direction: row;
    gap: $spacing-1-5;

    margin-top: 0;
    margin-bottom: 0;

    &.selected {
        border-color: $editor-block-focus-color;
        outline: ($editor-block-outline-width - 1px) solid $editor-block-focus-color;
    }

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        flex-direction: column;
        align-items: center;
    }

    &.alignRight {
        flex-direction: row-reverse;
    }
}

.IconButton {
    all: unset;

    position: relative;

    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;

    font-size: 19px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    border-radius: $border-radius-base;
    user-select: none;
    border: 1px solid transparent;

    &.empty {
        border-color: $callout-block-border-color;

        &::before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 6H9.5M6 2.5V9.5' stroke='%23374151' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    &:hover {
        background-color: rgba($grey-800, 0.12);
    }

    &.active,
    &:active {
        background-color: rgba($grey-800, 0.24);
    }
}

.Content {
    line-height: 26px;

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        text-align: center;
    }

    &.alignRight {
        text-align: right;
    }

    &.empty {
        &::before {
            content: attr(data-placeholder);
            color: $grey-400;
            position: absolute;
            pointer-events: none;
        }
    }
}

.Picker {
    z-index: $editor-emoji-picker-z-index;
    border: 1px solid $grey-200;
    border-radius: $border-radius-base;
    box-shadow: 0 4px 16px 0 rgba($grey-900, 0.1);
    background: white;
    overflow: hidden;

    :global(.EmojiPickerReact) {
        width: 310px;
        --epr-emoji-size: #{$spacing-3};
        --epr-search-input-bg-color: white;
        --epr-search-input-bg-color-active: white;
        --epr-picker-border-color: transparent;
        --epr-picker-border-radius: 0;
        --epr-category-label-text-color: #{$grey-500};
        --epr-search-input-height: 30px;
        --epr-search-input-padding: 0 30px;
        --epr-search-bar-inner-padding: 8px;
    }

    :global(.epr-category-nav) {
        display: none;
    }

    :global(.epr-search-container) input {
        border-radius: $border-radius-base;
        border: 1px solid $grey-200;

        &:focus {
            border-color: $grey-300;
        }
    }

    :global(.epr-emoji-category-label) {
        font-size: $font-size-smaller;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .NoIconOption {
        display: flex;
        flex-direction: row;
        gap: $spacing-1;
        padding: $spacing-1-5;
        margin: 0;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: $font-size-smaller;
        line-height: 1.2;
        color: $grey-700;
        user-select: none;
        border-top: 1px solid $grey-200;

        input {
            width: $spacing-2;
            height: $spacing-2;
            flex-shrink: 0;
            flex-grow: 0;
            margin: 0;
            cursor: pointer;
        }
    }
}
