@import "styles/variables";

.CalloutElement {
    display: block;
    position: relative;
}

.Callout {
    background-color: $callout-block-background;
    border: $callout-block-border;
    border-radius: $callout-block-border-radius;

    padding: $spacing-3;
    display: flex;
    flex-direction: row;
    gap: $spacing-1-5;

    margin-top: 0;
    margin-bottom: 0;

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        flex-direction: column;
        align-items: center;
    }

    &.alignRight {
        flex-direction: row-reverse;
    }
}

.Icon {
    all: unset;
    width: 26px;
    height: 26px;
    font-size: 19px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    border-radius: $border-radius-base;
    user-select: none;

    &:hover {
        background-color: rgba($grey-800, 0.12);
    }

    &.active,
    &:active {
        background-color: rgba($grey-800, 0.24);
    }
}

.Content {
    line-height: 26px;

    &.alignLeft {
        text-align: left;
    }

    &.alignCenter {
        text-align: center;
    }

    &.alignRight {
        text-align: right;
    }

    &.empty {
        &::before {
            content: attr(data-placeholder);
            color: $grey-400;
            position: absolute;
            pointer-events: none;
        }
    }
}
