@import "styles/mixins";
@import "styles/variables";

.outer {
    @include editor-v4-block($void: false);
    position: relative;

    &.extendedHitArea {
        $area-vertical-expansion: $spacing-3; // x2 if counted in both directions: up & down

        margin-top: $editor-v4-block-spacing-vertical - $area-vertical-expansion;
        margin-bottom: $editor-v4-block-spacing-vertical - $area-vertical-expansion;

        > .card {
            padding-top: $area-vertical-expansion;
            padding-bottom: $area-vertical-expansion;
        }
    }

    &.void > .card {
        @include editor-v4-void-element;
    }
}

.card {
    white-space: normal;
    position: relative;

    &.selected {
        @include editor-v4-block-active;
    }

    &.alignLeft {
        margin-left: 0;
        margin-right: auto;
    }

    &.alignCenter {
        margin-left: auto;
        margin-right: auto;
    }

    &.alignRight {
        margin-left: auto;
        margin-right: 0;
    }
}

.overlay {
    z-index: $editor-v4-embed-element-overlay-z-index;
}

.menu {
    z-index: $editor-v4-embed-element-overlay-z-index + 2;
}

.resizeButton {
    z-index: $editor-v4-embed-element-overlay-z-index + 1;
    position: absolute;
    right: $spacing-1;
    bottom: $spacing-1;
}
