@import "styles/mixins";
@import "styles/variables";

.outer {
    @include editor-v4-block($void: false);
    position: relative;

    &.extendedHitArea {
        $area-vertical-expansion: $spacing-3; // x2 if counted in both directions: up & down

        margin-top: $editor-v4-block-spacing-vertical - $area-vertical-expansion;
        margin-bottom: $editor-v4-block-spacing-vertical - $area-vertical-expansion;

        > .frame > .content {
            padding-top: $area-vertical-expansion;
            padding-bottom: $area-vertical-expansion;
        }
    }

    &.void {
        caret-color: transparent;
    }

    &.void > .frame {
        @include editor-v4-void-element;
    }
}

.frame {
    max-width: 100%;
    white-space: normal;
    position: relative;

    &.alignLeft {
        margin-left: 0;
        margin-right: auto;
    }

    &.alignCenter {
        margin-left: auto;
        margin-right: auto;
    }

    &.alignRight {
        margin-left: auto;
        margin-right: 0;
    }
}

.content {
    overflow: hidden;

    &.border {
        border: 1px solid $grey-200;

        &.selected {
            border-color: $editor-v4-block-focus-color;
        }
    }

    &.rounded {
        border-radius: $border-radius-small;
    }

    &.hasError {
        @include editor-v4-block-error;
    }

    &.selected {
        @include editor-v4-block-active;
    }
}

.overlay {
    z-index: $editor-v4-embed-element-overlay-z-index;
}

.menu {
    z-index: $editor-v4-embed-element-overlay-z-index + 2;
}

.resizeButton {
    z-index: $editor-v4-embed-element-overlay-z-index + 1;
    position: absolute;

    &.left {
        left: $spacing-1;
        bottom: $spacing-1;
    }

    &.right {
        right: $spacing-1;
        bottom: $spacing-1;
    }
}
