@import "styles/variables";

.EntryPoint {
    cursor: vertical-text;
    color: transparent;
    font-size: 0;
    line-height: 0;
    height: $spacing-1;

    &:hover {
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border-top: 1px dashed #aaa;
        }
    }
}
