@import "styles/helpers";
@import "styles/variables";

.handle {
    user-select: none;
    cursor: col-resize;
    padding: 0 4px;
}

.button {
    cursor: inherit;
    padding: 0;
    border-radius: 20px;
    background: rgba(15, 15, 15, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    width: 6px;
    height: 48px;
}
