.ImageWithLoadingPlaceholder {
    position: relative;
    background-position: center;
    background-size: 100% 100%;
}

.Image {
    display: block;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.Placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
