@import "styles/variables";

.LoadingPlaceholder {
    $horizontal-padding: $spacing-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $horizontal-padding;
    background: $legacy-color-grey-100;
    border: 1px solid $legacy-color-grey-500;

    .Icon {
        $size: 24px;

        width: $size;
        height: $size;
        margin: $spacing-2 0;
        color: $legacy-color-grey-750;
    }

    .Description {
        display: flex;
        justify-content: center;
        margin: $spacing-2 0;
        font-size: 13px;
        line-height: 18px;
        white-space: nowrap;
    }

    .Message {
        font-weight: 600;
        color: $legacy-color-type-primary;
    }

    .Progress {
        margin-left: $spacing-1-5;
        width: 34px; // constant width to avoid content jump when number of % digits change
        text-align: right;
        font-weight: 600;
        color: $legacy-color-type-secondary;
    }

    .ProgressBar {
        max-width: calc(100% - #{2 * $horizontal-padding});
        width: 220px;
        height: 2px;
        margin: $spacing-2 0;
        background-color: #c3e5d5;
    }

    .ProgressBarValue {
        height: 100%;
        background-color: #2ca859;
        transition: width 100ms linear;
    }

    .Icon,
    .Description,
    .ProgressBar {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
