@import "styles/variables";

.caption {
    color: $white;
    font-size: $font-size-small;
    font-weight: 600;
    opacity: 0.9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: $spacing-1-5 $spacing-1;
    padding-left: $spacing-2;
    color: $white;
}

.panel {
    backdrop-filter: blur(6px);
    background: rgba($indigo-900, 0.96);
    border-radius: $border-radius-base * 2;
}

.section {
    border-top: 1px solid rgba($white, 0.12);
    padding: $spacing-2;
    color: white;

    &--no-padding {
        padding: 0;
    }

    &-header-wrapper {
        padding-bottom: $spacing-2;
    }
}

.footer {
    display: flex;
    overflow: hidden;
    color: $white;
    border-top: 1px solid rgba($white, 0.12);
}
