@import "styles/variables";

$icon-size: 16px;
$focus-outline: $spacing-half solid #c7d2fe;

.Input {
    position: relative;
    display: inline-flex;
    width: 100%;

    border-radius: $border-radius-base;

    &.focused {
        outline: $focus-outline;
    }

    &.withSuggestionsAbove {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &.withSuggestionsBelow {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.InputBox {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.TextInput {
    color: $grey-700;
    font-weight: 500;
    font-size: $font-size-small;
    border: 1px solid $grey-300;
    border-radius: $border-radius-base;
    background: $white;
    padding: $spacing-1 $spacing-1-5;
    flex-grow: 1;
    width: 100%;

    &::placeholder {
        color: $grey-400;
        opacity: 1;
    }

    // Safari doesn't support focus-visible and outline with border-radius
    &:focus {
        outline: none;
    }

    .focused & {
        border-color: transparent;
    }

    &:disabled {
        color: $grey-400;
        opacity: 0.4;
    }

    .invalid & {
        background: $red-50;
        padding-right: $spacing-1-5 + $icon-size + $spacing-half;
    }

    .loading & {
        padding-right: $spacing-1-5 + $icon-size + $spacing-half;
    }

    .withButton & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    .withIcon & {
        padding-left: $spacing-1-5 + $icon-size + $spacing-1;
    }

    .withSuggestionsAbove & {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .withSuggestionsBelow & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    color: $grey-400;
    width: $icon-size;
    height: $icon-size;

    .focused & {
        color: $grey-500;
    }

    .disabled & {
        color: $black;
        opacity: 0.2;
    }
}

.LoadingIndicator {
    pointer-events: none;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: $grey-300 !important;
}

.WarningIcon {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    fill: $red-500;

    .invalid & {
        visibility: visible;
    }
}

.Button {
    all: unset;
    user-select: none;
    z-index: 1;

    background-color: $green-500;
    padding: 10px $spacing-2;

    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;

    white-space: nowrap;
    color: white;
    font-size: $font-size-small;
    font-weight: 600;

    &:hover {
        background-color: $green-600;
    }

    &:active {
        background-color: $green-700;
    }

    &:focus-visible {
        outline: $focus-outline;
    }

    &.disabled,
    &:disabled {
        background-color: $green-500;
        pointer-events: none;
        opacity: 0.64;
    }
}
