@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-media {
        &--image,
        &--video {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;   
        }

        &--image {
            @media print {
                color-adjust: exact;
            }
        }
    }
}
