@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate {
    &-media {
        &--image {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;

            @media print {
                color-adjust: exact;
            }
        }

        &--video {
            max-width: 100%;
        }
    }
}
