name: Build Storybook

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Environment
        uses: prezly/setup-github-actions@v1
        with:
          node: ${{ matrix.node-version }}
          pnpm: "8.4.0"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build Project
        run: pnpm build:dev

      - name: Build Storybook
        run: pnpm storybook:build
        working-directory: packages/slate-editor
