.editor-v4-file-attachment-element {
    @include editor-v4-block($void: false);

    border: 1px solid $color-grey-250;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);

    &--active {
        @include editor-v4-block-active;
    }

    &--unstyled {
        box-shadow: none;
    }

    &__content {
        @include editor-v4-void-element();

        display: flex;
        align-items: center;
    }

    &__icon-container {
        $size: 48px;

        width: $size;
        height: $size;
        color: $black;
        border: 1px solid $color-grey-250;
        border-radius: 2.67px;
        margin-left: $spacing-3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        $size: 22px;

        height: $size;
        width: $size;
    }

    &__details {
        flex: 1;
        padding: $spacing-3;
    }

    &__title {
        color: $color-type-primary;
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
        cursor: default;
    }

    &__subtitle {
        color: $color-type-secondary;
        font-size: 15px;
        line-height: (22 / 15);
        cursor: default;
    }

    &__text {
        &--unstyled {
            color: $black;
        }
    }
}
