@import "styles/mixins";
@import "styles/variables";

.editor-v4-coverage-element {
    $block-height: 160px;

    @include editor-v4-block($void: false);

    max-height: $block-height;
    border: 1px solid $color-grey-250;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);

    &--active {
        @include editor-v4-block-active;
    }

    &--error {
        background: $alert-danger-bg;
        border-color: $alert-danger-border;
    }

    &__loading-placeholder {
        height: $block-height;
    }

    &__error {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-2 $spacing-3;
    }
}
