@import "styles/variables.scss";

.prezly-slate {
    &-paragraph {
        margin: $spacing-2 0;
        color: $text-color;
        font-weight: 500;
        font-size: $font-size-m;
        line-height: $line-height;
    }
}
