@import "styles/variables";

.HeadingElement {
    position: relative;
    color: $editor-text-color;
    font-weight: 600;

    &.title {
        font-size: 40px;
        line-height: 48px;
    }

    &.subtitle {
        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
    }

    &.headingOne {
        font-size: $editor-heading-one-font-size;
        line-height: $editor-heading-one-line-height;
    }

    &.headingTwo {
        font-size: $editor-heading-two-font-size;
        line-height: $editor-heading-two-line-height;
    }

    &[data-placeholder] {
        &::before {
            content: attr(data-placeholder);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.75;
            pointer-events: none;
        }
    }


    strong {
        font-weight: 900;
    }
}
