@import "styles/variables";

.HeadingElement {
    color: $editor-text-color;
    font-weight: bold;

    &.headingOne {
        font-size: $editor-heading-one-font-size;
        line-height: $editor-heading-one-line-height;
    }

    &.headingTwo {
        font-size: $editor-heading-two-font-size;
        line-height: $editor-heading-two-line-height;
    }

    strong {
        font-weight: 900;
    }
}
